<main class="landing">
    <div class="h-[250px] relative"> <!-- banner wrapper -->
        <img src="./assets/images/phoning_girl.png" alt="" class="absolute w-full h-full object-cover">
        <div class="w-full h-full bg-mainp/50 absolute flex items-center justify-center">
            <div class="w-4/5 text-white mx-auto md:w-[500px] md:mx-0">
                <h2 class="mb-4 text-center">EVENTS</h2>
                <div class="text text-center">Get informed about our upcoming events</div>
            </div>
        </div>
    </div>
    <div class="relative p-4 flex items-center justify-center"> <!-- events section -->
        <div class="w-full max-w-[900px] relative">
            <app-event-list></app-event-list>
        </div>
    </div>
</main>