<main class="landing" [ngClass]="{'grid': fetching || no_event, 'place-items-center': fetching || no_event}">
    <div class="loader" [class.hidden]="!fetching"></div>
    <div *ngIf="event">
        <div class="max-w-[900px] m-auto p-4 mt-4">
            <figure class="">
                <img src="{{event.image_url}}" class="object-cover w-full h-full min-h-48" alt="{{event.name}}">
                <!-- <figcaption class="flex flex-wrap gap-x-4 mt-4">
                    <span class="text-mainp flex gap-x-2 items-center text-sm"><img src="./assets/svgs/calendar.svg" alt="" class="w-[14px] h-[14px] pink-icon"><span>{{date}}</span></span>
                    <span class="text-mainp flex gap-x-2 items-center text-sm"><img src="./assets/svgs/avatar.svg" alt="" class="w-[14px] h-[14px] pink-icon"><span>{{blog.author}}</span></span>
                </figcaption> -->
            </figure>
        </div>
        <div class="flex flex-col md:flex-row gap-x-6 gap-y-6 max-w-[900px] m-auto p-4 mt-4">
            <div class="flex flex-col w-full md:flex-grow gap-y-4">
                <h3 class="font-semibold text-2xl">{{event.name}}</h3>
                <div class="text-sm mt-4">{{event.description}}</div>
                <hr class="bg-gray-400 my-4" />
                <div class="flex flex-col gap-4">
                    <div>Start Date: {{start}}</div>
                    <div>End Date: {{end}}</div>
                    <div>Event Type: <span class="capitalize">{{event.type ? event.type : 'Not set'}}</span></div>
                    <div class="flex justify-center gap-x-4 mt-4"> <!-- buttons -->
                        <a href="https://wa.me/2349162644779/?text={{message_text}}" class="text-white px-6 py-2 font-[500] flex justify-center items-center bg-mainp border border-transparent rounded">
                            Contact Us
                        </a>
                        <app-watchlist-button type="button" [watched]="watched" [event]="{name: event.name}"></app-watchlist-button>
                    </div>
                    <!-- <div>Event Price: {{event.pr}}</div> -->
                    <!-- <span>Share Post:</span>
                    <img src="./assets/svgs/facebook.svg" class="gray-icon" alt="">
                    <img src="./assets/svgs/twitter.svg" class="w-[20px] h-[20px] gray-icon" alt="">
                    <img src="./assets/svgs/linkedin.svg" class="gray-icon" alt=""> -->
                </div>
            </div>
            <!-- <div class="w-full md:max-w-[300px]">
                <ul class="border border-gray-400 p-4">
                    <h3 class="text-xl font-semibold mb-4">Recent Posts</h3>
                    <li class="border-b py-2" *ngFor="let recent of recent_posts"><a routerLink="/blog/{{recent.heading}}" class="cursor-pointer">{{recent.heading}}</a></li>
                </ul>
            </div> -->
        </div>
    </div>
    <app-empty-content [message]="no_event" *ngIf="no_event"></app-empty-content>
</main>

