<div [ngClass]="{'grid': fetching || empty, 'place-items-center': fetching || empty, 'h-[500px]': fetching || empty}">
    <div class="loader" [class.hidden]="!fetching"></div>
    <div *ngIf="courses" id="container" class="max-w-max mx-auto flex flex-col gap-4 md:gap-8 md:grid grid-cols-[repeat(2,_minmax(300px,_1fr))] auto-rows-[minmax(max-content,_1fr)]">
        <app-course-item *ngFor="let course of courses" [type]="type" [course]="course"></app-course-item>
    </div>
    <app-empty-content *ngIf="empty" message="{{empty}}"></app-empty-content>
</div>