<main class="landing">
    <div class="h-[250px] relative"> <!-- banner wrapper -->
        <img src="./assets/images/phoning_girl.png" alt="" class="absolute w-full h-full object-cover">
        <div class="w-full h-full bg-mainp/50 absolute flex items-center justify-center">
            <div class="w-4/5 text-white mx-auto md:w-[500px] md:mx-0">
                <h2 class="mb-4 text-center">FREQUENTLY ASKED QUESTIONS</h2>
            </div>
        </div>
    </div>
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- frequently asked questions -->
        <div class="w-full max-w-[900px] relative">
            <h3 class="text-2xl">Frequently Asked Questions</h3>
            <div>
                <app-faq-list class="mt-4 flex flex-col gap-y-4"></app-faq-list>
            </div>
        </div>
    </div>
</main>