<main class="portal md:ml-[320px] bg-[#F2F2F2] p-4" [ngClass]="{'grid': !course, 'place-items-center': !course}">
    <div class="loader" [class.hidden]="course"></div>
    <div *ngIf="course" class="relative">
        <h3 >{{course.code}}</h3>
        <div class="mt-4 flex gap-x-4 sm:absolute top-0 right-0 sm:mt-0">
            <div (click)="editable = true" class="bg-mainp text-white border-transparent border py-2 px-6 text-sm rounded cursor-pointer">Edit Course</div>
            <div (click)="deleteCourse(course.code)" class="bg-mainp text-white border-transparent border py-2 px-6 text-sm rounded cursor-pointer">Delete Course</div>
        </div>
        <form #form action="" class="mt-6 flex flex-col gap-y-6 max-w-[500px]" [formGroup]="courseGroup" (ngSubmit)="onSubmit(form)" enctype="multipart/form-data">
            <div class="flex flex-col gap-y-2 w-max">
                <label for="course-code" class="text-mainp text-[15px]">Course Code</label>
                <input [readonly]="!editable" type="text" name="code" id="course-code" class="p-2 text-sm outline-none border border-slate-200 rounded" formControlName="code">
            </div>
            <div class="flex flex-col gap-y-2 w-full">
                <label for="course-title" class="text-mainp text-[15px]">Course Title</label>
                <input [readonly]="!editable" type="text" name="title" id="course-title" class="p-2 text-sm outline-none border border-slate-200 rounded" formControlName="title">
            </div>
            <div class="flex flex-col gap-y-2 w-full">
                <label for="course-overview" class="text-mainp text-[15px]">Course Overview</label>
                <textarea [readonly]="!editable" type="text" rows="6" name="overview" id="course-overview" class="p-2 text-sm outline-none border border-slate-200 rounded resize-none" formControlName="overview"></textarea>
            </div>
            <div class="flex flex-col gap-y-2 w-full relative" formArrayName="objectives">
                <img src="./assets/svgs/plus.svg" (click)="addObjective()" class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
                <label for="course-objectives" class="text-mainp text-[15px]">Course Objectives</label>
                <div class="flex gap-x-2 items-center" *ngFor="let objective of objectives.controls; index as i">
                    <span class="min-w-6">{{i+1}}.</span><input [readonly]="!editable" type="text" name="objectives[]" id="course-objectives" class="p-2 text-sm outline-none border border-slate-200 rounded grow" formControlName="{{i}}">
                </div>
            </div>
            <div class="flex flex-col gap-y-2 w-full relative" formArrayName="attendees">
                <img src="./assets/svgs/plus.svg" (click)="addAttendee()"
                    class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
                <label for="course-attendees" class="text-mainp text-[15px]">Course Attendees</label>
                <div class="flex gap-x-2 items-center" *ngFor="let objective of attendees.controls; index as i">
                    <span class="min-w-6">{{i+1}}.</span><input [readonly]="!editable" type="text" name="attendees[]" id="course-attendees" class="p-2 text-sm outline-none border border-slate-200 rounded grow" formControlName="{{i}}">
                </div>
            </div>
            <div class="flex flex-col gap-y-2 w-full relative" formArrayName="prerequisites">
                <img src="./assets/svgs/plus.svg" (click)="addPrerequisite()"
                    class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
                <label for="course-prerequisites" class="text-mainp text-[15px]">Course Prerequisites</label>
                <div class="flex gap-x-2 items-center" *ngFor="let objective of prerequisites.controls; index as i">
                    <span class="min-w-6">{{i+1}}.</span><input [readonly]="!editable" type="text" name="prerequisites[]" id="course-prerequisites" class="p-2 text-sm outline-none border border-slate-200 rounded grow" formControlName="{{i}}">
                </div>
            </div>
            <div class="flex flex-col gap-y-2 w-full relative" formArrayName="modules">
                <img src="./assets/svgs/plus.svg" (click)="addModule()"
                    class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
                <label for="module-objective" class="text-mainp text-[15px]">Course Modules</label>
                <div class="flex gap-x-2 items-center" *ngFor="let objective of modules.controls; index as i">
                    <span class="min-w-6">{{i+1}}.</span>
                    <div class="p-4 flex flex-col gap-y-4 bg-white border border-slate-200 rounded grow" formGroupName="{{i}}">
                        <input [readonly]="!editable" placeholder="Learning Objective" type="text" name="modules[{{i}}][objective]" id="module-objective" class="p-2 text-sm outline-none border border-slate-200 rounded" formControlName="objective">
                        <textarea [readonly]="!editable" type="text" rows="6" name="modules[{{i}}][overview]" id="module-overview" class="p-2 text-sm outline-none border border-slate-200 rounded resize-none" formControlName="overview" placeholder="Learning Overview"></textarea>
                    </div>
                </div>
            </div>
            <!-- <div class="flex flex-col gap-y-2 w-max" formGroupName="date">
                <label for="start-date" class="text-mainp text-[15px]">Course Date</label>
                <div class="flex flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none">
                    <label for="start" class="text-gray text-sm min-w-[100px]">Start Date: </label>
                    <input [readonly]="!editable" placeholder="Start date" type="date" name="date[start]" id="start" class="p-2 text-sm outline-none border border-slate-200 rounded" formControlName="start">
                </div>
                <div class="flex flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none">
                    <label for="duration" class="text-gray text-sm min-w-[100px]">Duration: </label>
                    <input [readonly]="!editable" placeholder="Duration" type="text" name="date[duration]" id="duration" class="p-2 text-sm outline-none border border-slate-200 rounded" formControlName="duration">
                    <div class="relative w-[120px] h-[38px]">
                        <div (click)="editable && folded = !folded" class="absolute z-10 right-2 w-2 h-2 border cursor-pointer border-black border-t-white border-r-white transition-all ease-linear" [ngClass]="{'-rotate-45': folded, 'rotate-[-225deg]': !folded, 'top-3': folded, 'top-4': !folded}"></div>
                        <input (click)="editable && folded = !folded" placeholder="unit" type="text" name="date[duration-unit]" class="p-2 cursor-pointer absolute top-0 left-0 w-full h-full rounded border border-slate-200 outline-none" readonly formControlName="durationUnit">
                        <div class="options bg-white absolute rounded w-full top-full mt-1 left-0 text-sm border border-slate-200 z-20" [class.hidden]="folded" [class.block]="!folded">
                            <div (click)="setDurationUnit('Days')" class="p-2 cursor-pointer hover:bg-slate-200">Days</div>
                            <div (click)="setDurationUnit('Weeks')" class="p-2 cursor-pointer hover:bg-slate-200">Weeks</div>
                            <div (click)="setDurationUnit('Months')" class="p-2 cursor-pointer hover:bg-slate-200">Months</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none">
                    <label for="end" class="text-gray text-sm min-w-[100px]">End Date: </label>
                    <input [readonly]="!editable" placeholder="End date" type="date" name="date[end]" id="end" class="p-2 text-sm outline-none border border-slate-200 rounded" formControlName="end" readonly>
                </div>
            </div> -->
            <!-- <div class="flex flex-col gap-y-2 w-max">
                <label for="course-duration" class="text-mainp text-[15px]">Course Duration</label>
                <div class="flex gap-x-2 items-center" *ngFor="let objective of prerequisites.controls; index as i">
                    <span class="min-w-6">{{i+1}}.</span>
                    <input [readonly]="!editable" type="date" name="course-duration" id="course-duration" class="p-2 text-sm outline-none border border-slate-200 rounded" formControlName="Duration">
                </div>
            </div> -->
            <div class="flex flex-col gap-y-2 w-max" formGroupName="price">
                <label for="course-price" class="text-mainp text-[15px]">Course Price</label>
                <div class="flex gap-x-2 flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none"><!-- items-center -->
                    <input [readonly]="!editable" type="text" name="price[amount]" id="course-price" class="p-2 text-sm outline-none border border-slate-200 rounded grow" formControlName="amount">
                    <div class="relative w-[120px] h-[38px] self-stretch">
                        <div (click)="editable && curFolded = !curFolded"
                            class="absolute z-10 right-2 w-2 h-2 border cursor-pointer border-black border-t-white border-r-white transition-all ease-linear"
                            [ngClass]="{'-rotate-45': curFolded, 'rotate-[-225deg]': !curFolded, 'top-3': curFolded, 'top-4': !curFolded}"></div>
                        <input (click)="editable && curFolded = !curFolded" placeholder="currency" type="text" name="price[currency]"
                            class="p-2 cursor-pointer absolute top-0 left-0 w-full h-full rounded border border-slate-200 outline-none"
                            readonly formControlName="currency">
                        <div class="options bg-white absolute rounded w-full top-full mt-1 left-0 text-sm border border-slate-200 z-20"
                            [class.hidden]="curFolded" [class.block]="!curFolded">
                            <div (click)="setCurrency('NGN (₦)')" class="p-2 cursor-pointer hover:bg-slate-200">NGN (₦)</div>
                            <div (click)="setCurrency('USD ($)')" class="p-2 cursor-pointer hover:bg-slate-200">USD ($)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-y-2 w-max">
                <label for="course-discount" class="text-mainp text-[15px]">Course Discount (optional)</label>
                <div class="flex gap-x-2 items-center">
                    <input [readonly]="!editable" type="text" name="discount" id="course-discount" class="p-2 text-sm outline-none border border-slate-200 rounded grow" formControlName="discount">
                    <span class="min-w-6">%</span>
                </div>
            </div>
            <!-- <div class="flex flex-col gap-y-2 w-max">
                <label for="course-schedule" class="text-mainp text-[15px]">Course Schedule</label>
                <input [readonly]="!editable" #schedulePicker accept=".pdf" (change)="handleScheduleSelect($event, schedulePreview)" type="file" name="schedule" id="course-schedule" class="hidden" formControlName="schedule">
                <div (click)="schedulePicker.click()" class="cursor-pointer w-[200px] h-[200px] text-sm border border-slate-200 rounded bg-white">
                    <div class="flex items-center justify-center h-full" [class.hidden]="scheduleSelected">
                        <div class="">
                            <img src="./assets/svgs/upload.svg" class="gray-icon m-auto" alt="">
                            <p class="text-gray-400 text-sm m-auto mt-2">Click to upload schedule</p>
                            <p class="text-gray-400 text-sm m-auto mt-2 text-center">(.pdf)</p>
                        </div>
                    </div>
                    <embed id="schedulePreview" (click)="schedulePicker.click()" class="w-full h-full object-cover cursor-pointer" [class.hidden]="!scheduleSelected" src=""  #schedulePreview />
                </div>
            </div> -->
            <div class="flex flex-col gap-y-2 w-max">
                <label for="course-image" (click)="editable || false" class="text-mainp text-[15px]">Course Image</label>
                <input [readonly]="!editable" #imagePicker (change)="handleImageSelect($event, imagePreview)" type="file" name="image" accept="image/*" id="course-image" class="hidden" formControlName="image">
                <div (click)="editable && imagePicker.click()" class="cursor-pointer w-[200px] h-[200px] text-sm border border-slate-200 rounded bg-white">
                    <div class="flex items-center justify-center h-full" [class.hidden]="pictureSelected">
                        <div class="">
                            <img src="./assets/svgs/upload.svg" class="gray-icon m-auto" alt="">
                            <p class="text-gray-400 text-sm m-auto mt-2">Click to upload image</p>
                            <p class="text-gray-400 text-sm m-auto mt-2 text-center">(.png, .jpg)</p>
                        </div>
                    </div>
                    <img id="imagePreview" class="w-full h-full object-cover" [class.hidden]="!pictureSelected" src="" alt="" #imagePreview>
                </div>
            </div>
            <div class="mt-4 flex items-center gap-x-8 w-full max-w-[300px]">
                <button [disabled]="!editable || edited" type="submit" [ngClass]="{'bg-mainp': !edited, 'bg-white': edited, 'text-white': !edited, 'text-mainp': edited}" class="cursor-pointer py-2 px-6 text-sm border border-transparent rounded flex gap-x-4 items-center justify-center"><div class="submit-loader" [class.block]="submitted" [class.hidden]="!submitted"></div><div>{{edited ? 'Edited' : 'Edit'}}</div></button>
                <app-redirect-button theme="white" text="{{!edited ? 'Cancel' : 'Back'}}" location="/admin/courses"></app-redirect-button>
            </div>
        </form>
    </div>
</main>
