<div class="w-full flex justify-center items-center" [ngClass]="{'h-[300px]': !blog_posts}">
    <div class="list-loader" *ngIf="!blog_posts"></div>
    <div *ngIf="blog_posts"
        class="max-w-[900px] flex gap-4 md:grid md:grid-cols-[repeat(2,_300px)] mt-8 overflow-x-auto lg:grid-cols-[repeat(3,_1fr)] items-stretch">
        <app-blog-item *ngFor="let blog of blog_posts" [blog]="blog"></app-blog-item>
    </div>
</div>
<app-do-more-link *ngIf="count != 'all'" text="View More" location="/blogs"></app-do-more-link>