<main class="portal md:ml-[320px] bg-[#F2F2F2] p-4" [ngClass]="{'grid': fetching || no_blog, 'place-items-center': fetching || no_blog}">
    <div class="loader" [class.hidden]="!fetching"></div>
    <div *ngIf="blog" class="relative">

        <div class="flex flex-wrap items-center justify-between gap-4">
            <h3>{{blog.heading}}</h3>

            <div class="flex gap-x-4">
                <div (click)="editable = true" class="bg-mainp text-white border-transparent border py-2 px-6 rounded cursor-pointer">Edit Blog</div>
                <div (click)="deleteBlog(blog.heading)" class="bg-mainp text-white border-transparent border py-2 px-6 rounded cursor-pointer">Delete Blog</div>
            </div>
        </div>

        <app-report-bar *ngIf="edited" message="Blog has been edited" type="success"></app-report-bar>
        <app-report-bar *ngIf="deleting" message="Blog is being deleted" type="progress"></app-report-bar>
        <app-report-bar *ngIf="error_in_deleting" [message]="error_in_deleting" type="error"></app-report-bar>

        <form #form action="" class="mt-6 flex flex-col gap-y-6 max-w-[500px]" [formGroup]="blogGroup" (ngSubmit)="onSubmit(form)" enctype="multipart/form-data">
            <div *ngIf="formError" class="text-red-500">{{formError}}</div>
            <div class="flex flex-col gap-y-2">
                <label for="blog-heading" class="text-mainp required">Blog Heading</label>
                <input [readonly]="!editable" type="text" name="heading" id="blog-heading" class="p-2 outline-none border border-slate-200 rounded" formControlName="heading">
                <div class="text-red-500 text-sm" *ngIf="tried_to_submit && heading.invalid">{{get_error_message(heading)}}</div>
            </div>
            <div class="flex flex-col gap-y-2 w-full">
                <label for="blog-content" class="text-mainp required">Blog Content</label>
                <ckeditor tagName="textarea" class="text-sm" [ngClass]="{'pointer-events-none': !editable}" [editor]="editor" formControlName="content"></ckeditor>
                <!-- <textarea [readonly]="!editable" type="text" rows="6" name="content" id="blog-content" class="p-2 outline-none border border-slate-200 rounded resize-none" formControlName="content"></textarea> -->
                <div class="text-red-500 text-sm" *ngIf="tried_to_submit && content.invalid">{{get_error_message(content)}}</div>
            </div>
            <div class="flex flex-col gap-y-2">
                <label for="blog-image" (click)="editable || false" class="text-mainp optional">Blog Image</label>
                <input [readonly]="!editable" #imagePicker (change)="handleImageSelect($event, imagePreview)" type="file" name="image" accept="image/*" id="blog-image" class="hidden" formControlName="image">
                <div (click)="editable && imagePicker.click()" class="cursor-pointer w-[200px] h-[200px] border border-slate-200 rounded bg-white">
                    <div class="flex items-center justify-center h-full" [class.hidden]="pictureSelected">
                        <div class="">
                            <img src="./assets/svgs/upload.svg" class="gray-icon m-auto" alt="">
                            <p class="text-gray-400 m-auto mt-2">Click to upload image</p>
                            <p class="text-gray-400 m-auto mt-2 text-center">(.png, .jpg)</p>
                        </div>
                    </div>
                    <img id="imagePreview" class="w-full h-full object-cover" [class.hidden]="!pictureSelected" src="" alt="" #imagePreview>
                </div>
            </div>
            <div class="mt-4 flex items-center gap-x-8 w-full max-w-[300px]">
                <button [disabled]="!editable || edited || (tried_to_submit && form_invalid) || submitted" type="submit" [ngClass]="{'bg-mainp': !edited, 'bg-white': edited, 'text-white': !edited, 'text-mainp': edited, 'bg-mainp/70': tried_to_submit && form_invalid,}" class="group relative cursor-pointer py-2 px-6 border border-transparent rounded flex gap-x-4 items-center justify-center">
                    <app-tooltip  message="Please rectify all errors" class="hidden" [ngClass]="{'group-hover:block': tried_to_submit && form_invalid}"></app-tooltip>
                    <div class="submit-loader" [class.block]="submitted" [class.hidden]="!submitted"></div>
                    <div>{{edited ? 'Edited' : 'Edit'}}</div>
                </button>
                <app-redirect-button theme="white" text="{{!edited ? 'Cancel' : 'Back'}}" location="/admin/resources"></app-redirect-button>
            </div>
        </form>
    </div>
    <app-empty-content [message]="no_blog" *ngIf="no_blog"></app-empty-content>
</main>
