<main class="portal md:ml-[320px] bg-[#F2F2F2] p-4" [ngClass]="{'grid': !blog, 'place-items-center': !blog}">
    <div class="loader" [class.hidden]="blog"></div>
    <div *ngIf="blog" class="relative">
        <h3 >{{blog.heading}}</h3>
        <div class="mt-4 flex gap-x-4 sm:absolute top-0 right-0 sm:mt-0">
            <div (click)="editable = true" class="bg-mainp text-white border-transparent border py-2 px-6 text-sm rounded cursor-pointer">Edit Blog</div>
            <div (click)="deleteBlog(blog.heading)" class="bg-mainp text-white border-transparent border py-2 px-6 text-sm rounded cursor-pointer">Delete Blog</div>
        </div>
        <form #form action="" class="mt-6 flex flex-col gap-y-6 max-w-[500px]" [formGroup]="blogGroup" (ngSubmit)="onSubmit(form)" enctype="multipart/form-data">
            <div class="flex flex-col gap-y-2 w-max">
                <label for="blog-heading" class="text-mainp text-[15px]">Blog Heading</label>
                <input [readonly]="!editable" type="text" name="heading" id="blog-heading" class="p-2 text-sm outline-none border border-slate-200 rounded" formControlName="heading">
            </div>
            <div class="flex flex-col gap-y-2 w-full">
                <label for="blog-content" class="text-mainp text-[15px]">Blog Content</label>
                <textarea [readonly]="!editable" type="text" rows="6" name="content" id="blog-content" class="p-2 text-sm outline-none border border-slate-200 rounded resize-none" formControlName="content"></textarea>
            </div>
            <div class="flex flex-col gap-y-2 w-max">
                <label for="blog-image" (click)="editable || false" class="text-mainp text-[15px]">Blog Image</label>
                <input [readonly]="!editable" #imagePicker (change)="handleImageSelect($event, imagePreview)" type="file" name="image" accept="image/*" id="blog-image" class="hidden" formControlName="image">
                <div (click)="editable && imagePicker.click()" class="cursor-pointer w-[200px] h-[200px] text-sm border border-slate-200 rounded bg-white">
                    <div class="flex items-center justify-center h-full" [class.hidden]="pictureSelected">
                        <div class="">
                            <img src="./assets/svgs/upload.svg" class="gray-icon m-auto" alt="">
                            <p class="text-gray-400 text-sm m-auto mt-2">Click to upload image</p>
                            <p class="text-gray-400 text-sm m-auto mt-2 text-center">(.png, .jpg)</p>
                        </div>
                    </div>
                    <img id="imagePreview" class="w-full h-full object-cover" [class.hidden]="!pictureSelected" src="" alt="" #imagePreview>
                </div>
            </div>
            <div class="mt-4 flex items-center gap-x-8 w-full max-w-[300px]">
                <button type="submit" [ngClass]="{'bg-mainp': !edited, 'bg-white': edited, 'text-white': !edited, 'text-mainp': edited}" class="cursor-pointer py-2 px-6 text-sm border border-transparent rounded flex gap-x-4 items-center justify-center" [disabled]="edited"><div class="submit-loader" [class.block]="submitted" [class.hidden]="!submitted"></div><div>{{edited ? 'Edited' : 'Edit'}}</div></button>
                <app-redirect-button theme="white" text="{{!edited ? 'Cancel' : 'Back'}}" location="/admin/resources"></app-redirect-button>
            </div>
        </form>
    </div>
</main>
