<main class="portal md:ml-[320px] bg-[#F2F2F2] p-4">
    <h3>New Offshore Course</h3>

    <app-report-bar *ngIf="created" message="Course has been added" type="success"></app-report-bar>

    <form #form action="" class="mt-6 flex flex-col gap-y-6 max-w-[500px]" [formGroup]="courseGroup" (ngSubmit)="!submitted && onSubmit(form)" enctype="multipart/form-data">
        <div *ngIf="formError" class="text-red-500">{{formError}}</div>
        <div class="flex flex-col gap-y-2 w-full">
            <label for="course-title" class="text-mainp required">Course Title</label>
            <input type="text" name="title" id="course-title" class="p-2 outline-none border border-slate-200 rounded" formControlName="title">
            <div class="text-red-500 text-sm" *ngIf="tried_to_submit && title.invalid">{{get_error_message(title)}}</div>
        </div>
        <div class="flex flex-col gap-y-2 w-full">
            <label for="course-overview" class="text-mainp required">Course Overview</label>
            <textarea type="text" rows="6" name="overview" id="course-overview" class="p-2 outline-none border border-slate-200 rounded resize-none" formControlName="overview"></textarea>
            <div class="text-red-500 text-sm" *ngIf="tried_to_submit && overview.invalid">{{get_error_message(overview)}}</div>
        </div>
        <div class="flex flex-col gap-y-2 w-full relative" formArrayName="objectives">
            <img src="./assets/svgs/plus.svg" (click)="addObjective()" class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
            <label for="course-objectives" class="text-mainp">Course Objectives</label>
            <div class="flex gap-x-2 items-center" *ngFor="let objective of objectives.controls; index as i">
                <span class="min-w-6">{{i+1}}.</span><input type="text" name="objectives[]" id="course-objectives" class="p-2 outline-none border border-slate-200 rounded grow" formControlName="{{i}}">
            </div>
        </div>
        <div class="flex flex-col gap-y-2 w-full relative" formArrayName="attendees">
            <img src="./assets/svgs/plus.svg" (click)="addAttendee()"
                class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
            <label for="course-attendees" class="text-mainp">Course Attendees</label>
            <div class="flex gap-x-2 items-center" *ngFor="let objective of attendees.controls; index as i">
                <span class="min-w-6">{{i+1}}.</span><input type="text" name="attendees[]" id="course-attendees" class="p-2 outline-none border border-slate-200 rounded grow" formControlName="{{i}}">
            </div>
        </div>
        <div class="flex flex-col gap-y-2 w-full relative" formArrayName="prerequisites">
            <img src="./assets/svgs/plus.svg" (click)="addPrerequisite()"
                class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
            <label for="course-prerequisites" class="text-mainp">Course Prerequisites</label>
            <div class="flex gap-x-2 items-center" *ngFor="let objective of prerequisites.controls; index as i">
                <span class="min-w-6">{{i+1}}.</span><input type="text" name="prerequisites[]" id="course-prerequisites" class="p-2 outline-none border border-slate-200 rounded grow" formControlName="{{i}}">
            </div>
        </div>
        <div class="flex flex-col gap-y-2 relative" formArrayName="modules">
            <img src="./assets/svgs/plus.svg" (click)="addModule()"
                class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
            <label for="module-objective" class="text-mainp">Course Modules</label>
            <div class="flex gap-x-2 items-center" *ngFor="let objective of modules.controls; index as i">
                <span class="min-w-6">{{i+1}}.</span>
                <div class="p-4 flex flex-col gap-y-4 bg-white border border-slate-200 rounded min-w-0 grow" formGroupName="{{i}}">
                    <input placeholder="Learning Objective" type="text" name="modules[{{i}}][objective]" id="module-objective" class="p-2 outline-none border border-slate-200 rounded" formControlName="objective">
                    <textarea type="text" rows="6" name="modules[{{i}}][overview]" id="module-overview" class="p-2 outline-none border border-slate-200 rounded resize-none" formControlName="overview" placeholder="Learning Overview"></textarea>
                </div>
            </div>
        </div>


        <div class="flex flex-col gap-y-2" formGroupName="date">
            <label for="start-date" class="text-mainp optional">Course Date</label>
            <div class="flex flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none">
                <label for="start" class="text-gray text-sm min-w-[100px]">Start Date: </label>
                <input placeholder="Start date" type="date" name="date[start]" id="start" class="p-2 outline-none border border-slate-200 rounded" formControlName="start">
            </div>
            <div class="flex flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none">
                <label for="duration" class="text-gray text-sm min-w-[100px]">Duration: </label>
                <div class="flex gap-2 items-center">

                    <input type="number" min="0" name="date[duration]" id="duration" class="p-2 outline-none border border-slate-200 w-20 rounded" formControlName="duration">
                    <div class="relative w-[120px] h-[38px]">
                        <div (click)="folded = !folded" class="absolute z-10 right-2 w-2 h-2 border cursor-pointer border-black border-t-white border-r-white transition-all ease-linear" [ngClass]="{'-rotate-45': folded, 'rotate-[-225deg]': !folded, 'top-3': folded, 'top-4': !folded}"></div>
                        <input (click)="folded = !folded" placeholder="unit" type="text" name="date[duration-unit]" class="p-2 cursor-pointer absolute top-0 left-0 w-full h-full rounded border border-slate-200 outline-none" readonly>
                        <div class="options bg-white absolute rounded w-full top-full mt-1 left-0 border border-slate-200 z-20" [class.hidden]="folded" [class.block]="!folded">
                            <div (click)="setDurationUnit('Days')" class="p-2 cursor-pointer hover:bg-slate-200">Days</div>
                            <div (click)="setDurationUnit('Weeks')" class="p-2 cursor-pointer hover:bg-slate-200">Weeks</div>
                            <div (click)="setDurationUnit('Months')" class="p-2 cursor-pointer hover:bg-slate-200">Months</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none">
                <label for="end" class="text-gray text-sm min-w-[100px]">End Date: </label>
                <input placeholder="End date" type="date" name="date[end]" id="end" class="p-2 outline-none border border-slate-200 rounded" formControlName="end" readonly>
            </div>
        </div>
        <div class="flex flex-col gap-y-2">
            <label for="course-location" class="text-mainp required">Course Location</label>
            <div class="relative w-[120px] h-[38px] self-stretch">
                <div (click)="locFolded = !locFolded"
                    class="absolute z-10 right-2 w-2 h-2 border cursor-pointer border-black border-t-white border-r-white transition-all ease-linear"
                    [ngClass]="{'-rotate-45': locFolded, 'rotate-[-225deg]': !locFolded, 'top-3': locFolded, 'top-4': !locFolded}"></div>
                <input (click)="locFolded = !locFolded" placeholder="location" type="text" name="location"
                    class="p-2 cursor-pointer absolute top-0 left-0 w-full h-full rounded border border-slate-200 outline-none"
                    readonly formControlName="location">
                <div class="options bg-white absolute rounded w-full top-full mt-1 left-0 border border-slate-200 z-20"
                    [class.hidden]="locFolded" [class.block]="!locFolded">
                    <div (click)="setLocation('Ghana')" class="p-2 cursor-pointer hover:bg-slate-200">Ghana</div>
                    <div (click)="setLocation('Kenya')" class="p-2 cursor-pointer hover:bg-slate-200">Kenya</div>
                </div>
            </div>
            <div class="text-red-500 text-sm" *ngIf="tried_to_submit && location.invalid">{{get_error_message(location)}}</div>
        </div>
        <div class="flex flex-col gap-y-2" formGroupName="price">
            <label for="course-price" class="text-mainp required">Course Price</label>
            <div class="flex gap-x-2 items-center max-w-[300px]"><!-- items-center -->
                <input type="text" placeholder="e.g. 67000" name="price[amount]" id="course-price" class="p-2 outline-none border border-slate-200 placeholder:italic max-w-32 rounded grow" formControlName="amount">
                <div class="relative w-[120px] h-[38px] self-stretch">
                    <div (click)="curFolded = !curFolded"
                        class="absolute z-10 right-2 w-2 h-2 border cursor-pointer border-black border-t-white border-r-white transition-all ease-linear"
                        [ngClass]="{'-rotate-45': curFolded, 'rotate-[-225deg]': !curFolded, 'top-3': curFolded, 'top-4': !curFolded}"></div>
                    <input (click)="curFolded = !curFolded" placeholder="currency" type="text" name="price[currency]"
                        class="p-2 cursor-pointer absolute top-0 left-0 w-full h-full rounded border border-slate-200 outline-none"
                        readonly formControlName="currency">
                    <div class="options bg-white absolute rounded w-full top-full mt-1 left-0 border border-slate-200 z-20"
                        [class.hidden]="curFolded" [class.block]="!curFolded">
                        <div (click)="setCurrency('NGN (₦)')" class="p-2 cursor-pointer hover:bg-slate-200">NGN (₦)</div>
                        <div (click)="setCurrency('USD ($)')" class="p-2 cursor-pointer hover:bg-slate-200">USD ($)</div>
                    </div>
                </div>
            </div>
            <div class="text-red-500 text-sm" *ngIf="tried_to_submit && amount.invalid">{{get_error_message(amount)}}</div>
        </div>
        <div class="flex flex-col gap-y-2">
            <label for="course-discount" class="text-mainp optional">Course Discount</label>
            <div class="flex gap-x-2 items-center">
                <input type="text" name="discount" placeholder="e.g. 7" id="course-discount" class="p-2 outline-none border border-slate-200 max-w-20 placeholder:italic rounded grow shrink" formControlName="discount">
                <span class="min-w-6">%</span>
            </div>
            <div class="text-red-500 text-sm" *ngIf="tried_to_submit && discount.invalid">{{get_error_message(discount)}}</div>
        </div>



        
        <div class="flex flex-col gap-y-2">
            <label for="course-image" class="text-mainp optional">Course Image</label>
            <input #imagePicker (change)="handleImageSelect($event, imagePreview)" type="file" name="image" accept="image/*" id="course-image" class="hidden" formControlName="image">
            <div (click)="imagePicker.click()" class="cursor-pointer w-[200px] h-[200px] border border-slate-200 rounded bg-white">
                <div class="flex items-center justify-center h-full" [class.hidden]="pictureSelected">
                    <div class="">
                        <img src="./assets/svgs/upload.svg" class="gray-icon m-auto" alt="">
                        <p class="text-gray-400 m-auto mt-2">Click to upload image</p>
                        <p class="text-gray-400 m-auto mt-2 text-center">(.png, .jpg)</p>
                    </div>
                </div>
                <img class="w-full h-full object-cover" [class.hidden]="!pictureSelected" src="" alt="" #imagePreview>
            </div>
        </div>
        <div class="mt-4 flex items-center gap-x-8 w-full max-w-[300px]">
            <button [disabled]="created || (tried_to_submit && form_invalid) || submitted" type="submit" [ngClass]="{'bg-mainp': !created, 'bg-mainp/70': tried_to_submit && form_invalid, 'bg-white': created, 'text-white': !created, 'text-mainp': created}" class="group relative cursor-pointer py-2 px-6 border border-transparent rounded flex gap-x-4 items-center justify-center">
                <app-tooltip  message="Please rectify all errors" class="hidden" [ngClass]="{'group-hover:block': tried_to_submit && form_invalid}"></app-tooltip>
                <div class="submit-loader" [class.block]="submitted" [class.hidden]="!submitted"></div>
                <div>{{created ? 'Created' : 'Create'}}</div>
            </button>
            <app-redirect-button theme="white" text="{{!created ? 'Cancel' : 'Back'}}" location="/admin/courses"></app-redirect-button>
        </div>
    </form>
</main>

