<div class="bg-black/15 fixed top-0 left-0 w-full h-full z-50 grid place-items-center">
    <div class="max-w-[90%] bg-slate-100 p-4 flex justify-evenly flex-col gap-y-4 shadow-2xl text-sm select-none rounded-md"> <!-- logout modal -->
        <div *ngIf="failed" class="text-red-400">Incorrect password</div>
        <div>Please input your password to proceed?</div>
        <div>
            <input autofocus type="password" #password class="p-2 text-sm outline-none border border-slate-200 rounded">
        </div>
        <div class="flex items-center">
            <div class="grow"></div>
            <div class="border border-slate-400 cursor-pointer mr-4 py-1 px-2 rounded" (click)="cancel()">Cancel</div>
            <div class="bg-mainp text-white cursor-pointer border border-transparent py-1 px-2 rounded flex gap-x-4 items-center justify-center" (click)="password.value && confirm()">
                <div class="submit-loader" [class.block]="submitted" [class.hidden]="!submitted"></div>
                Confirm
            </div>
        </div>
    </div>
</div>