<main class="portal md:ml-[320px] bg-[#F2F2F2] p-4" [ngClass]="{'grid': fetching, 'place-items-center': fetching}">
    <div class="loader" [class.hidden]="!fetching"></div>
    <div *ngIf="users">
        <div class="relative flex flex-col gap-y-6">
            <h3>All users</h3>

            <div>
                <input #search_field type="text" placeholder="search user by name or email" name="searchParam" class="placeholder:italic placeholder:text-sm mt-4 w-full p-2 rounded border border-slate-200 outline-none">
            </div>

            <div class="max-w-full overflow-auto">
                <table class="text-sm border-collapse border bg-white border-slate-500 w-full mt-4">
                    <thead class="text-mainp">
                        <tr>
                            <th class="font-normal tc">S/N</th>
                            <th class="font-normal tc">Name</th>
                            <th class="font-normal tc">Email</th>
                            <th class="font-normal tc">Roles</th>
                            <th class="font-normal tc">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let user of users; index as i">
                            <tr [ngClass]="{'hidden': search_param && !check_match(user)}">
                                <td class="tc">{{i + 1}}</td>
                                <td class="tc">{{user.first_name}} {{user.last_name}}</td>
                                <td class="tc">{{user.email}}</td>
                                <td class="tc">
                                    <mat-chip-set aria-label="selection">
                                        <mat-chip *ngFor="let role of user.roles">{{role == 'super_admin' ? 'admin' : (role == 'student' ? 'user' : role)}}</mat-chip>
                                      </mat-chip-set>
                                </td>
                                <td class="tc text-center"><app-redirect-button theme="pink" text="View" location="/admin/user/{{user.email}}"></app-redirect-button></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>  
    </div>
</main>
