<main class="portal md:ml-[320px] bg-[#F2F2F2] p-4" [ngClass]="{'grid': fetching || no_event, 'place-items-center': fetching || no_event}">
    <div class="loader" [class.hidden]="!fetching"></div>
    <div *ngIf="event" class="relative">
        <div class="flex flex-wrap items-center justify-between gap-4">
            <h3 >{{event.name}}</h3>

            <div class="flex gap-x-4">
                <div (click)="editable = true" class="bg-mainp text-white border-transparent border py-2 px-6 text-sm rounded cursor-pointer">Edit Event</div>
                <div (click)="deleteEvent(event.name)" class="bg-mainp text-white border-transparent border py-2 px-6 text-sm rounded cursor-pointer">Delete Event</div>
            </div>
        </div>

        <app-report-bar *ngIf="edited" message="Event has been edited" type="success"></app-report-bar>
        <app-report-bar *ngIf="deleting" message="Event is being deleted" type="progress"></app-report-bar>
        <app-report-bar *ngIf="error_in_deleting" [message]="error_in_deleting" type="error"></app-report-bar>


        <form #form action="" class="mt-6 flex flex-col gap-y-6 max-w-[500px]" [formGroup]="eventGroup" (ngSubmit)="onSubmit(form)" enctype="multipart/form-data">
            <div *ngIf="formError" class="text-red-500">{{formError}}</div>
            <div class="flex flex-col gap-y-2">
                <label for="event-name" class="text-mainp required">Event Name</label>
                <input [readonly]='!editable' type="text" name="name" id="event-name" class="p-2 outline-none border border-slate-200 rounded" formControlName="name">
                <div class="text-red-500 text-sm" *ngIf="tried_to_submit && name.invalid">{{get_error_message(name)}}</div>
            </div>
            <div class="flex flex-col gap-y-2 w-full">
                <label for="event-description" class="text-mainp required">Event Description</label>
                <textarea [readOnly]="!editable" type="text" rows="6" name="description" id="event-description" class="p-2 outline-none border border-slate-200 rounded resize-none" formControlName="description"></textarea>
                <div class="text-red-500 text-sm" *ngIf="tried_to_submit && description.invalid">{{get_error_message(description)}}</div>
            </div>
            <div class="flex flex-col gap-y-2 w-full relative" formArrayName="popups">
                <img src="./assets/svgs/dash.svg" (click)="editable && remove('popup')" class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-4 mr-2" alt="">
                <img src="./assets/svgs/plus.svg" (click)="editable && add('popup')"
                class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
                <label for="event-attendees" class="text-mainp optional">Pop up Info</label>
                <div class="my-2 flex flex-col gap-y-2" *ngFor="let popup of popups.controls; index as i" formGroupName="{{i}}">
                    <div class="flex flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none">
                        <label for="start" class="text-gray text-sm min-w-[100px]">Heading: </label>
                        <input max="50" [readonly]="!editable" type="text" formControlName="heading" name="popups[{{i}}][heading]" name="" id="event-attendees" class="p-2 outline-none border border-slate-200 rounded grow">
                    </div>
                    <div class="flex flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none">
                        <label for="start" class="text-gray text-sm min-w-[100px]">Subheading: </label>
                        <input max="60" [readonly]="!editable" type="text" formControlName="subheading" name="popups[{{i}}][subheading]" id="event-attendees" class="p-2 outline-none border border-slate-200 rounded grow">
                    </div>
                    <div class="flex flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none">
                        <label for="start" class="text-gray text-sm min-w-[100px] self-start">Hashtags: </label>
                        <div class="flex flex-col gap-y-4" formArrayName="hashtags">
                            <input max="15" [readonly]="!editable" type="text" formControlName="{{0}}" name="popups[{{i}}][hashtags][0]" id="event-attendees" class="p-2 outline-none border border-slate-200 rounded grow">
                            <input max="15" [readonly]="!editable" type="text" formControlName="{{1}}" name="popups[{{i}}][hashtags][1]" id="event-attendees" class="p-2 outline-none border border-slate-200 rounded grow">
                            <input max="15" [readonly]="!editable" type="text" formControlName="{{2}}" name="popups[{{i}}][hashtags][2]" id="event-attendees" class="p-2 outline-none border border-slate-200 rounded grow">
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-y-2" formGroupName="date">
                <label for="start-date" class="text-mainp required">Event Date</label>
                <div class="flex flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none">
                    <label for="start" class="text-gray text-sm min-w-[100px]">Start Date: </label>
                    <input [readonly]='!editable' placeholder="Start date" type="date" name="date[start]" id="start" class="p-2 outline-none border border-slate-200 rounded" formControlName="start">
                </div>
                <div class="flex flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none"><!-- items-center -->
                    <label for="duration" class="text-gray text-sm min-w-[100px]">Duration: </label>
                    <div class="flex gap-2 items-center">

                        <input [readonly]='!editable' type="number" min="0" name="date[duration]" id="duration" class="p-2 outline-none border border-slate-200 w-20 rounded" formControlName="duration">
                        <div class="relative w-[120px] h-[38px]"><!-- self-stretch -->
                            <div (click)="editable && folded = !folded" class="absolute z-10 right-2 w-2 h-2 border cursor-pointer border-black border-t-white border-r-white transition-all ease-linear" [ngClass]="{'-rotate-45': folded, 'rotate-[-225deg]': !folded, 'top-3': folded, 'top-4': !folded}"></div>
                            <input (click)="editable && folded = !folded" placeholder="unit" type="text" name="date[duration-unit]" class="p-2 cursor-pointer absolute top-0 left-0 w-full h-full rounded border border-slate-200 outline-none" formControlName="durationUnit" readonly>
                            <div class="options bg-white absolute rounded w-full top-full mt-1 left-0 border border-slate-200 z-50" [class.hidden]="folded" [class.block]="!folded">
                                <div (click)="setDurationUnit('Days')" class="p-2 cursor-pointer hover:bg-slate-200">Days</div>
                                <div (click)="setDurationUnit('Weeks')" class="p-2 cursor-pointer hover:bg-slate-200">Weeks</div>
                                <div (click)="setDurationUnit('Months')" class="p-2 cursor-pointer hover:bg-slate-200">Months</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none"><!-- items-center -->
                    <label for="end" class="text-gray text-sm min-w-[100px]">End Date: </label>
                    <input readonly placeholder="End date" type="date" name="date[end]" id="end" class="p-2 outline-none border border-slate-200 rounded" formControlName="end" readonly>
                </div>
                <div class="text-red-500 text-sm" *ngIf="(tried_to_submit && startDate.invalid) || (tried_to_submit && endDate.invalid) || (tried_to_submit && duration.invalid) || (tried_to_submit && unit.invalid)">{{get_error_message(startDate) || get_error_message(endDate) || get_error_message(duration) || get_error_message(unit)}}</div>
            </div>
            <div class="flex flex-col gap-y-2">
                <label for="" class="text-mainp optional">Event Type</label>
                <div class="flex gap-x-2 max-w-[200px] sm:flex-row sm:items-center sm:max-w-none"><!-- items-center -->
                    <input [readonly]='!editable' (click)="editable && setType($event)" type="radio" name="type" value="physical" id="physical" class="p-2 outline-none border border-slate-200 rounded" formControlName="type">
                    <label for="physical" class="text-sm">Physical Event</label>
                </div>
                <div class="flex gap-x-2 max-w-[200px] sm:flex-row sm:items-center sm:max-w-none"><!-- items-center -->
                    <input [readonly]='!editable' (click)="editable && setType($event)" type="radio" name="type" value="virtual" id="virtual" class="p-2 outline-none border border-slate-200 rounded" formControlName="type">
                    <label for="virtual" class="text-sm">Virtual Event</label>
                </div>
            </div>
            <div class="flex flex-col gap-y-2" formGroupName="price">
                <label for="course-price" class="text-mainp optional">Event Price</label>
                <div class="flex gap-x-2 flex-col gap-y-2 max-w-[200px] sm:gap-x-2 sm:flex-row sm:items-center sm:max-w-none"><!-- items-center -->
                    <input placeholder="physical price" [readonly]="!editable || type != 'physical'" type="text" name="price[amount][physical]" id="physical-price" class="p-2 outline-none border border-slate-200 placeholder:italic max-w-36 rounded grow" formControlName="amount">
                    <input placeholder="virtual price" [readonly]="!editable || type != 'virtual'" type="text" name="price[amount][virtual]" id="virtual-price" class="p-2 outline-none border border-slate-200 placeholder:italic max-w-36 rounded grow" formControlName="amount">
                    <div class="relative w-[120px] h-[38px] self-stretch">
                        <div (click)="editable && curFolded = !curFolded"
                            class="absolute z-10 right-2 w-2 h-2 border cursor-pointer border-black border-t-white border-r-white transition-all ease-linear"
                            [ngClass]="{'-rotate-45': curFolded, 'rotate-[-225deg]': !curFolded, 'top-3': curFolded, 'top-4': !curFolded}"></div>
                        <input (click)="editable && curFolded = !curFolded" placeholder="currency" type="text" name="price[currency]"
                            class="p-2 cursor-pointer absolute top-0 left-0 w-full h-full rounded border border-slate-200 outline-none"
                            readonly formControlName="currency">
                        <div class="options bg-white absolute rounded w-full top-full mt-1 left-0 border border-slate-200 z-20"
                            [class.hidden]="curFolded" [class.block]="!curFolded">
                            <div (click)="setCurrency('NGN (₦)')" class="p-2 cursor-pointer hover:bg-slate-200">NGN (₦)</div>
                            <div (click)="setCurrency('USD ($)')" class="p-2 cursor-pointer hover:bg-slate-200">USD ($)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-y-2 w-full relative" formArrayName="attendees">
                <img src="./assets/svgs/plus.svg" (click)="editable && add('attendee')"
                    class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
                <label for="event-attendees" class="text-mainp optional">Event Attendees</label>
                <div class="flex gap-x-2 items-center" *ngFor="let objective of attendees.controls; index as i">
                    <span class="min-w-6">{{i+1}}.</span><input [readonly]='!editable' type="text" name="attendees[]" id="event-attendees" class="p-2 outline-none border border-slate-200 rounded grow" formControlName="{{i}}">
                </div>
            </div>
            <div class="flex flex-col gap-y-2">
                <label for="event-image" (click)="editable || false" class="text-mainp optional">Event Image</label>
                <input [readonly]='!editable' [readonly]="!editable" multiple #imagePicker (change)="handleImageSelect($event)" type="file" name="image[]" accept="image/*" id="course-image" class="hidden" formControlName="image">
                <div (click)="editable && imagePicker.click()" class="cursor-pointer w-[200px] h-[200px] border border-slate-200 rounded bg-white">
                    <div class="flex items-center justify-center h-full" [class.hidden]="pictureSelected">
                        <div class="">
                            <img src="./assets/svgs/upload.svg" class="gray-icon m-auto" alt="">
                            <p class="text-gray-400 m-auto mt-2">Click to upload image</p>
                            <p class="text-gray-400 m-auto mt-2 text-center">(.png, .jpg)</p>
                        </div>
                    </div>
                    <swiper-container init="false" class="relative w-full h-full" [class.hidden]="!pictureSelected" #imagePreview>
                        <swiper-slide *ngFor="let image_blob of selected_images">
                            
                            <img class="w-full h-full object-cover" src="{{image_blob}}" alt="">
                        </swiper-slide>
                    </swiper-container>
                </div>
            </div>
            <div class="mt-4 flex items-center gap-x-8 w-full max-w-[300px]">
                <button [disabled]="!editable || edited || (tried_to_submit && form_invalid) || submitted" type="submit" [ngClass]="{'bg-mainp': !edited, 'bg-white': edited, 'text-white': !edited, 'text-mainp': edited, 'bg-mainp/70': tried_to_submit && form_invalid,}" class="group relative cursor-pointer py-2 px-6 border border-transparent rounded flex gap-x-4 items-center justify-center">
                    <app-tooltip  message="Please rectify all errors" class="hidden" [ngClass]="{'group-hover:block': tried_to_submit && form_invalid}"></app-tooltip>
                    <div class="submit-loader" [class.block]="submitted" [class.hidden]="!submitted"></div>
                    <div>{{edited ? 'Edited' : 'Edit'}}</div>
                </button>
                <app-redirect-button theme="white" text="{{!edited ? 'Cancel' : 'Back'}}" location="/admin/events"></app-redirect-button>
            </div>
        </form>
    </div>
    <app-empty-content [message]="no_event" *ngIf="no_event"></app-empty-content>
</main>
