<!-- <a target="_blank" href="https://wa.me/2349162644779/?text={{message}}" class="text-white px-6 py-2 font-[500] flex justify-center items-center bg-mainp border border-transparent rounded" [ngClass]="{'bg-mainp': theme == 'pink', 'text-white': theme == 'pink', 'bg-white': theme == 'white', 'text-mainp': theme == 'white'}">
    {{text}}
</a> -->

<a class="cursor-pointer text-white px-6 py-2 font-[500] flex justify-center items-center bg-mainp border border-transparent rounded" [ngClass]="{'bg-mainp': theme == 'pink', 'text-white': theme == 'pink', 'bg-white': theme == 'white', 'text-mainp': theme == 'white'}">
    {{text}}
</a>