<main class="portal md:ml-[320px] bg-[#F2F2F2] p-4" [ngClass]="{'grid': !loaded, 'place-items-center': !loaded}">
    <div class="loader" [class.hidden]="loaded"></div>
    <div *ngIf="loaded">
        <div class="relative flex flex-col gap-y-6">
            <h3>Events</h3>
            <div class="max-w-full overflow-auto">
                <table class="text-sm border-collapse border border-slate-500 w-full">
                    <thead class="text-mainp">
                        <tr class="">
                            <th class="tc">Name</th>
                            <th class="tc">Date</th>
                            <th class="tc">Link</th>
                            <th class="tc">Registrations</th>
                            <th class="tc">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let event of events">
                            <td class="tc whitespace-nowrap">{{event.name}}</td>
                            <td class="tc whitespace-nowrap">{{format(event.date.start)}} - {{format(event.date.end)}}</td>
                            <td class="tc">
                                <button (click)="copyEventLink(getEventLink(event.name), $event)" class="group bg-mainp text-white relative cursor-pointer py-2 px-6 border border-transparent rounded flex gap-x-4 items-center justify-center">
                                    Copy&nbsp;link
                                </button>
                            </td>
                            <td class="tc text-center"><app-redirect-button theme="pink" text="Registrations" location="/admin/event/{{event.name}}/registrations"></app-redirect-button></td>
                            <td class="tc text-center"><app-redirect-button theme="pink" text="Action" location="/admin/event/{{event.name}}"></app-redirect-button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-redirect-button class="sm:absolute sm:top-0 sm:right-0" theme="pink" text="Add New Event" location="/admin/add-event"></app-redirect-button>
        </div>
    </div>
</main>
