<main class="login bg-[#FFF] min-h-dvh flex items-center justify-center">
    <div class="w-full lg:w-1/2 m-auto lg:mr-[50%] grid place-items-center">
        <div class="overflow-hidden w-full max-w-[500px]">
                <form #form (ngSubmit)="!submitted && onSubmit(form)" [formGroup]="passwordGroup" class="p-4 w-full transition-all duration-500 bg-white" [ngClass]="{'grid': !validation_complete, 'place-items-center': !validation_complete}">
                    <div class="loader" *ngIf="!validation_complete"></div>
                    <ng-container *ngIf="validation_complete">
                    <ng-container *ngIf="link_invalid">
                        <div class="text-red-500 text-center">Invalid link</div>
                    </ng-container>
                    <ng-container *ngIf="!link_invalid">
                        <img src="./assets/logo.png" alt="" class="h-[70px] w-[166px]">
                        <div *ngIf="!passwordReset">
                            <div>Create a new password</div>
                            <div class="flex flex-col gap-y-4 mt-8 bg-white"> <!-- fields -->
                                <div *ngIf="formError" class="text-red-500">{{formError}}</div>
                                <div class="text-sm flex flex-col gap-y-2">
                                    <label for="password">Password</label>
                                    <input formControlName="password" type="password" id="password" name="password" placeholder="Enter password" class="p-4 w-full rounded-md border border-gray-400 outline-none placeholder-black">
                                    <div *ngIf="errors['password']" class="text-red-500">{{errors['password'][0]}}</div>
                                </div>
                                <div class="text-sm flex flex-col gap-y-2">
                                    <label for="password_confirmation">Confirm Password</label>
                                    <input formControlName="password_confirmation" type="password" id="password_confirmation" name="password_confirmation" placeholder="Confirm password" class="p-4 w-full rounded-md border border-gray-400 outline-none placeholder-black">
                                    <div *ngIf="errors['password_confirmation']" class="text-red-500">{{errors['password_confirmation'][0]}}</div>
                                </div>
                            </div>
                            <div class="mt-6">
                                <button [disabled]="passwordGroup.invalid || (backWithErrors && (errorsRectified < errorneousFields.length))" [class.cursor-not-allowed]="passwordGroup.invalid || (backWithErrors && (errorsRectified < errorneousFields.length))" class="p-4 w-full flex gap-x-4 items-center justify-center bg-mainp text-white rounded-md hover:bg-mainp/70 cursor-pointer border border-transparent outline-none"><div class="submit-loader" [class.block]="submitted" [class.hidden]="!submitted"></div><div>{{(backWithErrors && (errorsRectified == errorneousFields.length)) ? 'Reset Password' : backWithErrors ? 'Rectify all errors' : passwordGroup.invalid ? 'Fill all fields' : 'Reset Password'}}</div></button>
                            </div>
                        </div>
                        <div *ngIf="passwordReset">
                            Your new password has been set. <a (click)="redirect_to_login()" class="text-mainp cursor-pointer">Login</a>
                        </div>
                    </ng-container>
                    </ng-container>
                </form>
            </div>
    </div>
    <div class="hidden lg:block fixed top-0 right-0 bottom-0 w-1/2 overflow-clip">
        <div class="w-[200%] h-full flex">
            <div class="w-1/2 h-full first-state" id="left-slide">
                <div class="absolute w-full h-full bg-gradient-to-t from-mainp/90 to-transparent">
                    <div class="text-white absolute bottom-24 left-14">
                        <div class="font-bold text-4xl" id="first-paragraph">Unlock your full potential</div>
                        <div class="mt-4" id="second-paragraph">Discover the joy of learning and ignite your educational journey</div>
                    </div>
                </div>
                <img src="./assets/images/typing_girl.png" class="w-full h-full object-cover" alt="">
            </div>
            <div class="w-1/2 h-full custom-hidden" id="right-slide">
                <div class="absolute w-full h-full bg-gradient-to-t from-mainp/90 to-transparent">
                    <div class="text-white absolute bottom-24 left-14">
                        <div class="font-bold text-4xl" id="first-paragraph">Unlock your full potential</div>
                        <div class="mt-4" id="second-paragraph">Discover the joy of learning and ignite your educational journey</div>
                    </div>
                </div>
                <img src="./assets/images/waving_girl.png" class="w-full h-full object-cover" alt="">
            </div>
        </div>
    </div>
</main>