<main class="landing">
    <div class="h-[250px] relative"> <!-- banner wrapper -->
        <img src="./assets/images/phoning_girl.png" alt="" class="absolute w-full h-full object-cover">
        <div class="w-full h-full bg-mainp/50 absolute flex items-center justify-center">
            <div class="w-4/5 text-white mx-auto md:w-[500px] md:mx-0">
                <h2 class="mb-4 text-center">TERMS AND CONDITIONS</h2>
                <!-- <div class="text-center">A Global Leader in IT Training</div> -->
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center m-4"> <!-- mitiget learning academy -->
        <div class="max-w-[900px]">
            <div class="italic">Version 1 effective: March 5, 2024.</div>
            <p>
                Welcome to Mitiget Learning Academy (MLA), a training academy offering a range of courses for professional development. These terms of use govern your use of our website(www.mla.mitiget.com) whether as a guest or a registered user. Use of our site includes accessing, browsing, or registering to use our site. Please read these terms of use carefully before you start to use our site, as they will apply to your use of the site. We recommend that you print a copy of this for future reference. By using our site, you confirm that you accept these terms of use and that you agree to comply with them. If you do not agree to these terms of use, you must not use our site. The following additional terms, which can be accessed from the home page of our site, will also apply to your use of our site:
            </p>
            <ul class="list-inside list-[disc]">
                <li>Our Privacy Statement Policy: This sets out the terms on which we process any personal data we collect from you or that you provide to us. By using our site, you consent to such processing, and you warrant that all data you provide is accurate.</li>
                <li>Our Cookie Policy: This sets out information about the cookies on our site.</li>
                <li>Terms for Buying Courses: If you enroll in any of our courses, the transaction will be covered by our Terms for Buying Courses, which may also be accessed from the homepage of our site; you will be notified of any additional terms and conditions that may apply to specific transactions.</li>
            </ul>
            
            <div class="section">
                <h3>Information about us</h3>
                <p>Mitiget Learning Academy (MLA) is a member of Mitiget Assurance and Technology Services Limited (MITIGET), dedicated to providing top-notch training programs for individual and   professional growth. Our registered address is Front Wing, 5th Floor, Oluwatobi House, 73 Allen Avenue, Ikeja, Lagos Nigeria, registered in Nigeria with number 1409677. Our VAT number is IKV100021409677. We are a training company. You may contact us at +234 9162644779, +234 806 719 1062 or mla&#64;mitiget.com.ng</p>
            </div>
            <div class="section">
                <h3>Changes to these terms and our site, and access to our site</h3>
                <ul class="list-inside list-disc">
                    <li>We may revise these terms of use at any time by amending this page. Please check this page from time to time to take notice of any changes we make as they are binding on you.</li>
                    <li>We may update our site from time to time and change the content at any time. However, please note that any of the content on our site may be out of date at any given time, and we are under no obligation to update it.</li>
                    <li>We do not guarantee that our site or any content on it will be free from errors or omissions.</li>
                    <li>We do not guarantee that our site or any content on it will always be available or be uninterrupted. Access to our site is permitted on a temporary basis. We may suspend, withdraw, discontinue, or change all or any part of our site without notice. We will not be liable to you if for any reason our site is unavailable at any time or for any period. You are responsible for making all arrangements necessary for you to have access to our site.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Security</h3>
                <ul class="list-inside list-disc">
                    <li>To ensure that this website remains available to all users, we may monitor network traffic to identify unauthorized attempts to upload or change information, or to otherwise cause damage to the site. Anyone using this site expressly consents to such monitoring.</li>
                    <li>Unauthorized attempts to modify, alter, deface, destroy or corrupt any information stored on this site or this system, to defeat any security features, to probe, scan, or test for vulnerabilities, to breach security or authentication measures, to forge TCP/IP headers, to install or attempt to install unauthorized software, to mount denial-of-service attacks, or to utilize this system for other than its intended purposes are expressly prohibited and may result in criminal prosecution.</li>
                    <li>Any possible criminal activity will be reported, together with any evidence that may be gathered, to the appropriate authorities.</li>
                    <li>If you choose or are provided with a user identification code, password, or any other piece of information as part of our security procedures, you must treat such information as confidential. You must not disclose it to any third party. We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time if in our reasonable opinion you have failed to comply with any of the provisions of these terms of use.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Copyright</h3>
                <ul class="list-inside list-disc">
                    <li>All content on this site, and all content of any documents provided to visitors or clients (in, for instance, newsletters), is our property or that of another original copyright holder unless stated otherwise.</li>
                    <li>No user may copy, modify, publish, transmit, transfer, or sell, reproduce, create derivative works from, distribute, display, or in any way exploit any of the content, in whole or in part, except with our express written agreement or that of the original copyright holder. These copyright terms apply to all courses and materials provided by Mitiget Learning Academy.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Free services</h3>
                <ul class="list-inside list-disc">
                    <li>Mitiget Learning Academy provides a number of free services from its site, such as newsletters, papers, resources, articles, etc. There is no contract with Mitiget Learning Academy for any free service, so no user can become a client by using any free service, and we are not liable to any user in any way resulting from the use of any free service.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Limitation of liability</h3>
                <ul class="list-inside list-disc">
                    <li>Nothing in these terms of use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, or any other liability that cannot be excluded or limited by Nigerian law.</li>
                    <li>To the extent permitted by law, we exclude all conditions, warranties, representations, or other terms that may apply to our site or any content on it, whether express or implied.</li>
                    <li>We will not be liable for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your computer equipment, computer programs, data, or other proprietary material due to your use of our site or to your downloading of any content on it, or on any website linked to it.</li>
                    <li>We assume no responsibility for the content of websites linked on our site. Such links should not be interpreted as endorsement by us of those linked websites. We will not be liable for any loss or damage that may arise from your use of them.</li>
                </ul>
            </div>
            <div class="section">
                <h3>Contact</h3>
                <p>Please send any complaints or requests to  mla&#64;mitiget.com.ng. If you have any questions about our site or these terms and conditions, please email the Web Master at  mla&#64;mitiget.com.ng</p>
            </div>
        </div>
    </div>
</main>
