<div class="bg-white w-full max-w-[350px] h-full p-4 flex flex-col gap-4 shadow-md cursor-pointer" (click)="onClick()">
    <img src="{{course.image_url}}" class="w-full h-[200px] cover" alt="{{course_name}}">
    <div class="font-semibold text-sm grow">{{course_name}}</div>
    <div class="flex flex-wrap text-sm text-gray-400 gap-4">
        <div class="flex gap-2">
            <img src="./assets/svgs/courses_icon.svg" class="w-4 h-4 gray-icon" alt="">
            <div>{{course.number_of_modules}} modules</div>
        </div>
        <div>{{category}}</div>
    </div>
</div>