<main class="landing" [ngClass]="{'grid': !loaded, 'place-items-center': !loaded}"><!-- [ngClass]="{'grid': !loaded, 'place-items-center': !loaded} -->
    <div class="loader" [class.hidden]="loaded"></div>
    <div *ngIf="course" class="max-w-[100%] overflow-hidden">
        <div class="p-4 pt-10 flex items-center justify-center">
            <div class="w-full max-w-[900px]">
                <h2 class="text-2xl mb-2">{{course.title}}</h2>
                <div class="bg-mainp relative w-[300px] h-[300px] rounded-lg m-4 md:float-right md:ml-7 md:mb-7">
                    <img src="{{course.image_url}}" alt="{{course.title}}"
                        class="w-full h-full -translate-x-3 translate-y-3 rounded-lg object-cover">
                </div>
                <div class="w-full mt-8"> <!-- overview -->
                    <h3 class="mb-2">Course Overview</h3>
                    <p class="mt-2">{{course.overview}}</p>
                </div>
                <div class="mt-8"> <!-- objectives -->
                    <h3>Objectives</h3>
                    <ul >
                        <ng-container *ngFor="let objective of objectives">
                            <li class="my-3" *ngIf="objective">
                                <img src="./assets/svgs/gt.svg" class="pink-icon w-2 h-2 inline" alt="">
                                <span class="ml-2">{{objective}}</span>
                            </li>
                        </ng-container>
                    </ul>
                </div>
                <div class="flex justify-center gap-x-4 mt-4"> <!-- buttons -->
                    <app-contact-us-button text="Contact Us" [course]="{type:'oc', name: this.course.title}" theme="pink"></app-contact-us-button>
                    <app-cart-button type="button" [carted]="carted" [course]="{identity: course.title, type: 'offshore-course'}"></app-cart-button>
                </div>
            </div>
        </div>
        <div class="relative mt-8 p-4 bg-mainp flex items-center justify-center"> <!--attendee banner wrapper -->
            <div class="w-full max-w-[780px] p-4 text-white">
                <h2 class="text-2xl my-4">Who Can Attend The Course</h2>
                <ul class="list-none flex flex-col gap-y-4 md:flex-row md:flex-wrap md:gap-x-8">
                    <li class="flex gap-x-2 items-center" *ngFor="let attendee of attendees"><img
                            src="./assets/svgs/tick_circle.svg" class="white-icon" alt=""><span>{{attendee}}</span></li>
                </ul>
            </div>
        </div>
        <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- learning academy wrapper -->
            <div class="w-full max-w-[768px] relative">
                <h3 class="text-2xl">Mitiget Learning Academy</h3>
                <div
                    class="w-full max-w-[768px] flex flex-col items-center sm:grid sm:grid-cols-2 sm:grid-rows-2 md:grid-cols-3 gap-x-6 gap-y-6 mt-8 overflow-x-auto">
                    <div class="flex gap-x-4">
                        <img src="./assets/svgs/instructor_led.svg" alt="" class="pink-icon w-10 h-10 justify-self-start">
                        <div>
                            <h4 class="font-semibold">Instructor-Led Training</h4>
                            <p class="mt-4">Interact and engage with instructors with industry experience in engaging
                                classes.</p>
                        </div>
                    </div>
                    <div class="flex gap-x-4">
                        <img src="./assets/svgs/industry_approved.svg" alt="" class="pink-icon w-10 h-10 justify-self-start">
                        <div>
                            <h4 class="font-semibold">Industry Approved Curriculum</h4>
                            <p class="mt-4">Empower yourself with the latest courseware updated according to advanced
                                practices.</p>
                        </div>
                    </div>
                    <div class="flex gap-x-4">
                        <img src="./assets/svgs/case_studies.svg" alt="" class="pink-icon w-10 h-10 justify-self-start">
                        <div>
                            <h4 class="font-semibold">Case Studies</h4>
                            <p class="mt-4">Empower yourself with the latest courseware updated according to advanced
                                practices.</p>
                        </div>
                    </div>
                    <div class="flex gap-x-4">
                        <img src="./assets/svgs/industry_experts.svg" alt="" class="pink-icon w-10 h-10 justify-self-start">
                        <div>
                            <h4 class="font-semibold">Industry Experts</h4>
                            <p class="mt-4">Interact and engage with instructors with industry experience in engaging
                                classes.</p>
                        </div>
                    </div>
                    <div class="flex gap-x-4">
                        <img src="./assets/svgs/applicable_skills.svg" alt="" class="w-10 h-10 justify-self-start pink-icon">
                        <div>
                            <h4 class="font-semibold">Applicable Skills</h4>
                            <p class="mt-4">Empower yourself with the latest courseware updated according to advanced practices.</p>
                        </div>
                    </div>
                    <div class="flex gap-x-4">
                        <img src="./assets/svgs/detailed_feedback.svg" alt="" class="pink-icon w-10 h-10 justify-self-start">
                        <div>
                            <h4 class="font-semibold">Detailed Feedback</h4>
                            <p class="mt-4">Empower yourself with the latest courseware updated according to advanced practices.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative mt-8 p-4 bg-mainp flex items-center justify-center"> <!--prerequisite banner wrapper -->
            <div class="w-full max-w-[780px] p-4 text-white">
                <h2 class="text-2xl my-4">Prerequisites for {{course.title}}</h2>
                <ul class="list-none flex flex-col gap-y-4 md:flex-row md:flex-wrap md:gap-x-8">
                    <li class="flex gap-x-2 items-center" *ngFor="let prerequisite of prerequisites">
                        <img src="./assets/svgs/tick_circle.svg" class="white-icon" alt=""><span>{{prerequisite}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- modules wrapper -->
            <div class="w-full max-w-[768px] relative">
                <h3 class="text-2xl">What Will You Learn</h3>
                <div class="mt-4 flex flex-col gap-y-4">
                    <ng-container *ngFor="let module of modules; index as i">
                        <ng-container *ngIf="module.objective != null && module.overview != null">
                            <app-module-item [index]="i+1" [module]="module"></app-module-item>
                        </ng-container>
                    </ng-container>
                    <div class="bg-mainp p-4 flex items-center">
                        <p class="text-white">Do you like the curriculum and would like to learn more?</p>
                        <div class="flex-grow"></div>
                        <app-contact-us-button text="Contact Us" [course]="{type:'oc', name: this.course.title}" theme="white"></app-contact-us-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- how to get started wrapper -->
            <div class="w-full max-w-[768px] relative">
                <h3 class="text-2xl">How to get started?</h3>
                <div class="mt-2">Follow these simple steps to get started</div>
                <div class="w-full max-w-[768px] flex flex-col items-center sm:grid sm:grid-cols-2 sm:justify-items-center gap-x-6 gap-y-6 mt-8 overflow-x-auto">
                    <div class="h-full w-full max-w-[350px] md:min-w-0 rounded-xl relative overflow-hidden px-4 py-6 bg-mainp flex flex-col gap-y-4">
                        <div class="text-lg text-white">Training Mode & Cost</div>
                        <!-- <div class="text-sm text-white">1. Virtual Instructor-led</div> -->
                        <div class="text-sm text-white">1. On-Site Instructor-led</div>
                        <div class="text-sm text-white">
                            Note: Payment could be in Naira at the prevailing market price. Reach out to discuss the suitable rate. Booking all year.
                        </div>
                    </div>
                    <div class="h-full w-full max-w-[350px] md:min-w-0 rounded-xl relative overflow-hidden px-4 py-6 bg-mainp flex flex-col gap-y-4">
                        <div class="text-lg text-white">Booking and Payment</div>
                        <div class="text-sm text-white">
                            <div class="text-sm text-white">
                                Contact us to book for your PECB courses. Bookings are confirmed only after payment into:<br>
                                Bookings are confirmed only after payment into:<br>
                                Mitiget Assurance & Technology Services Ltd.<br>
                                Zenith Bank Accounts:<br>
                                NAIRA - 1015340385<br>
                                USD - 5071187539<br>
                                POUNDS - 5060300653<br>
                            </div>
                        </div>
                        <div class="text-sm text-white">2. Discounts are available for group bookings.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative mt-8 p-4 bg-mainp flex items-center justify-center"> <!--details banner wrapper -->
            <div class="w-full max-w-[780px] p-4 text-white">
                <h2 class="text-2xl my-4">Details</h2>
                <!-- md:flex-row md:flex-wrap md:gap-x-8 -->
                <ul class="flex flex-col gap-y-4">
                    <li class="flex gap-x-2 items-center">- <span>Start Date: {{date ? date.start : ''}}</span></li>
                    <li class="flex gap-x-2 items-center">- <span>Duration: {{date ? date.duration: ''}} {{date ? date['duration-unit'] : ''}}</span></li>
                    <li class="flex gap-x-2 items-center">- <span>End Date: {{date ? date.end: ''}}</span></li>
                    <!-- <li class="flex gap-x-2 items-center">- <span>Price: {{price.amount}} {{price.currency}}</span></li> -->
                    <li class="flex gap-x-2 items-center">- <span>Location: {{course.location}}</span></li>
                    <!-- <li class="flex gap-x-2 items-center">- <span>Mode of Delivery: Virtual</span></li> -->
                    <!-- <li class="flex gap-x-2 items-center" *ngFor="let prerequisite of parse_json(course.prerequisites)"><img
                            src="./assets/svgs/tick_circle.svg" class="white-icon" alt=""><span>{{prerequisite}}</span></li>-->
                </ul>
            </div>
        </div>
        <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- talk to advisor wrapper -->
            <app-contact-us-form [course]="{title: course.title}"></app-contact-us-form>
        </div>
        <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- recommended courses wrapper -->
            <div class="w-full max-w-[900px] relative">
                <h3 class="text-2xl">Discover our in-demand courses</h3>
                <!-- <div class="mt-2 flex gap-x-4 text-xs">
                    <div>Popular Courses</div>
                    <div>Cyber Security</div>
                    <div>Software Development</div>
                    <div>UI/UX Design</div>
                </div> -->
                <app-offshore-course-list type="recommended" [count]="3"></app-offshore-course-list>
            </div>
        </div>
        <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- frequently asked questions -->
            <div class="w-full max-w-[900px] relative">
                <h3 class="text-2xl">Frequently Asked Questions</h3>
                <div>
                    <app-faq-list class="mt-4 flex flex-col gap-y-4"></app-faq-list>
                </div>
            </div>
        </div>
        
    </div>
    
</main>
