<main class="landing">
    <div class="h-[250px] relative"> <!-- banner wrapper -->
        <img src="./assets/images/phoning_girl.png" alt="" class="absolute w-full h-full object-cover">
        <div class="w-full h-full bg-mainp/50 absolute flex items-center justify-center">
            <div class="w-4/5 text-white mx-auto md:w-[500px] md:mx-0">
                <h2 class="mb-4 text-center">CONNECT WITH US!</h2>
                <div class="text-center">Get in touch with us and let’s get you started today</div>
            </div>
        </div>
    </div>
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- upcoming wrapper -->
        <div class="w-full max-w-[950px] flex flex-col items-center sm:grid sm:grid-cols-2 sm:grid-rows-2 md:flex md:flex-row md:items-stretch gap-x-6 gap-y-6 mt-8 overflow-x-auto">
            <div class="group min-w-[300px] md:min-w-0 w-[300px] h-[300px] rounded-xl relative overflow-hidden hover:cursor-pointer border border-black">
                <div class="rounded-full flex items-center justify-center border border-black w-24 h-24 m-auto mt-8">
                    <img src="./assets/svgs/chat.svg" class="pink-icon" alt="">
                </div>
                <p class="font-semibold text-lg text-center mt-4">Quick Chat</p>
                <p class="text-sm text-center mt-4">+234 916 264 4779</p>
                <div class="absolute bg-mainp bottom-0 w-full p-4 text-white flex gap-x-2 group-hover:gap-x-4 transition-all justify-center items-center">
                    <span>Start chat</span><img class="h-3 w-7 text-white" src="./assets/svgs/arrow_right_white.svg" alt="" />
                </div>
            </div>
            <div class="group min-w-[300px] md:min-w-0 w-[300px] h-[300px] rounded-xl relative overflow-hidden hover:cursor-pointer border border-black">
                <div class="rounded-full flex items-center justify-center border border-black w-24 h-24 m-auto mt-8">
                    <img src="./assets/svgs/chat.svg" class="pink-icon" alt="">
                </div>
                <p class="font-semibold text-lg text-center mt-4">Help & Support</p>
                <p class="text-sm text-center mt-4">mla@mitiget.com.ng</p>
                <div class="absolute bg-mainp bottom-0 w-full p-4 text-white flex gap-x-2 group-hover:gap-x-4 transition-all justify-center items-center">
                    <span>Contact support</span><img class="h-3 w-7 text-white" src="./assets/svgs/arrow_right_white.svg" alt="" />
                </div>
            </div>
            <div class="group min-w-[300px] md:min-w-0 w-[300px] h-[300px] rounded-xl relative overflow-hidden hover:cursor-pointer border border-black">
                <div class="rounded-full flex items-center justify-center border border-black w-24 h-24 m-auto mt-8">
                    <img src="./assets/svgs/chat.svg" class="pink-icon" alt="">
                </div>
                <p class="font-semibold text-lg text-center mt-4">Corporate Services</p>
                <p class="text-sm text-center mt-4">+234 808 174 6461</p>
                <div class="absolute bg-mainp bottom-0 w-full p-4 text-white flex gap-x-2 group-hover:gap-x-4 transition-all justify-center items-center">
                    <span class="">Contact corporate services</span><img class="h-3 w-7 text-white" src="./assets/svgs/arrow_right_white.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- talk to advisor wrapper -->
        <app-contact-us-form></app-contact-us-form>
    </div>
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- our locations wrapper -->
        <div class="w-full max-w-[950px] relative">
            <h3 class="text-2xl">Our location</h3>
            <div class="mt-2">Oluwatobi House, 5th Floor Front Wing, 73 Allen Avenue, Ikeja, Lagos</div>
            <img src="./assets/images/location.png" class="mt-4 w-full h-[300px] object-cover" alt="">
        </div>
    </div>
</main>