<main class="landing">
    <div class="h-[400px] relative w-full overflow-clip"> <!-- banner wrapper -->
        <div class="w-[200%] h-full flex">
            <div class="w-1/2 h-full first-state" id="left-slide">
                <img src="./assets/images/smiling_girl.png" alt="" class="absolute w-full h-full object-cover">
                <div class="w-full h-full bg-gradient-to-r from-mainp/90 to-transparent absolute flex items-center md:pl-20">
                    <div class="w-4/5 text-white mx-auto md:w-[500px] md:mx-0">
                        <div class="font-bold text-2xl" id="first-paragraph">Learn the latest digital skills for tomorrow’s jobs</div>
                        <div class="font-medium text-lg my-4" id="second-paragraph">The fastest, most effective training to get future-ready</div>
                        <app-enroll-button id="button" location="/course-catalogue" butText='Explore Courses' [hasArrow]="true" bgColor="white" radius="slight"></app-enroll-button>
                    </div>
                </div>
            </div>
            <div class="w-1/2 h-full custom-hidden" id="right-slide">
                <img src="./assets/images/typing_boy.png" alt="" class="absolute w-full h-full object-cover">
                <div class="w-full h-full bg-gradient-to-r from-mainp/90 to-transparent absolute flex items-center md:pl-20">
                    <div class="w-4/5 text-white mx-auto md:w-[500px] md:mx-0">
                        <div class="font-bold text-2xl" id="first-paragraph">Stay relevant in the fast evolving world</div>
                        <div class="font-medium text-lg my-4" id="second-paragraph">The fastest, most effective training to get future-ready</div>
                        <app-enroll-button id="button" location="/course-catalogue" butText='Explore Courses' [hasArrow]="true" bgColor="white" radius="slight"></app-enroll-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- searchbar wrapper -->
    <!-- <div class="h-[180px] flex justify-center items-center"> 
        <div class="w-full max-w-[768px] h-3/5 bg-[#E1E1E1] relative">
            <input type="text" class="outline-0 w-[90%] p-4 pr-14 rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-sm" placeholder="What do you want to learn?" />
            <button class="border-0 rounded-full bg-mainp p-4 absolute top-1/2 -translate-y-1/2 right-[5%] text-white flex gap-x-2 items-center"><span class="hidden sm:block">Search</span><img class="white-icon w-4 h-4" src="./assets/svgs/search_icon.svg" alt=""></button>
        </div>
    </div> -->
    
    <div class="relative p-4 pt-10 items-center justify-center" [class.flex]="!no_events" [class.hidden]="no_events"> 
        <div class="w-full max-w-[900px] relative">
            <h3 class="text-2xl">Upcoming Events</h3>
            <div class="mt-2">Discover events on our calendar</div>
            <app-event-list (no_events)="handle_no_events()" [count]="3" ></app-event-list>
        </div>
    </div>
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- in demand wrapper -->
        <div class="w-full max-w-[900px] relative">
            <h3 class="text-2xl">Discover our in-demand courses</h3>
            <!-- <div class="mt-2 flex gap-x-4 text-xs">
                <div>Popular Courses</div>
                <div>Cyber Security</div>
                <div>Software Development</div>
                <div>UI/UX Design</div>
            </div> -->
            <app-certificate-course-list [count]="6" type="in_demand"></app-certificate-course-list>
        </div>
    </div>
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- certificate courses wrapper -->
        <div class="w-full max-w-[900px] relative">
            <h3 class="text-2xl">Discover our certificate courses</h3>
            <!-- <div class="mt-2 flex gap-x-4 text-xs">
                <div>Popular Courses</div>
                <div>Cyber Security</div>
                <div>Software Development</div>
                <div>UI/UX Design</div>
            </div> -->
            <app-certificate-course-list [count]="6" type="certificate"></app-certificate-course-list>
        </div>
    </div>
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- certification courses wrapper -->
        <div class="w-full max-w-[900px] relative">
            <h3 class="text-2xl">Discover our certification courses</h3>
            <!-- <div class="mt-2 flex gap-x-4 text-xs">
                <div>Popular Courses</div>
                <div>Cyber Security</div>
                <div>Software Development</div>
                <div>UI/UX Design</div>
            </div> -->
            <app-certification-course-list [count]="6" type="certification"></app-certification-course-list>
        </div>
    </div>
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- off-shore courses wrapper -->
        <div class="w-full max-w-[900px] relative">
            <h3 class="text-2xl">Discover our off-shore courses</h3>
            <!-- <div class="mt-2 flex gap-x-4 text-xs">
                <div>Popular Courses</div>
                <div>Cyber Security</div>
                <div>Software Development</div>
                <div>UI/UX Design</div>
            </div> -->
            <app-offshore-course-list [count]="6" type="off_shore"></app-offshore-course-list>
        </div>
    </div>
    <!-- <div class="relative p-4 pt-10 flex items-center justify-center"> 
        <div class="hidden md:block absolute top-1/2 right-[10%] z-10 -translate-y-3 bg-white/70 border border-mainp xl:bg-transparent p-4"><img src="./assets/svgs/circ_arrow_right.svg" class="w-8 h-8" alt=""></div>
        <div class="hidden md:block absolute top-1/2 left-[10%] z-10 -translate-y-3 bg-white/70 border border-mainp xl:bg-transparent p-4"><img src="./assets/svgs/circ_arrow_left.svg" class="w-8 h-8" alt=""></div>
        <div class="w-full max-w-[768px] relative">
            <h3 class="text-2xl">Discover our certification courses</h3>
            <div class="mt-2 flex gap-x-4 text-xs"><div>Popular Courses</div><div>Cyber Security</div><div>Software Development</div><div>UI/UX Design</div></div>
            <div class="w-full max-w-[768px] flex gap-x-6 mt-8 overflow-x-auto">
                <a routerLink="/course/{{course.name}}" routerLinkActive="" *ngFor="let course of courses" class="min-w-[300px] md:min-w-0 w-[300px] border border-black rounded-xl relative overflow-hidden hover:cursor-pointer px-4 py-6">
                    <div class="text-xl">{{course.name}}</div>
                    <div class="mt-4">{{course.description}}</div>
                    <div class="mt-4 flex items-center">
                        <a class="flex gap-x-2 hover:gap-x-4 hover:text-mainp transition-all justify-start items-center">
                            <span>View course</span><img class="h-3 w-7 text-white" src="./assets/svgs/arrow_right.svg" alt="" />
                        </a>
                        <span class="flex-grow"></span>
                        <img src="./assets/svgs/cart_pink.svg" class="cursor-pointer" alt="">
                    </div>
                </a>
            </div>
            <a
                class="cursor-pointer sm:absolute text-mainp flex items-center justify-start items-center gap-x-2 hover:gap-x-3 mt-6 sm:mt-0 sm:top-0 sm:right-0"><span>View Catalogue</span><img class="h-3 w-7" src="./assets/svgs/arrow_right.svg" alt=""></a>
        </div>
    </div> -->
    <div class="h-[250px] relative mt-8"> <!-- banner wrapper -->
        <img src="./assets/images/typing_boy.png" alt="" class="absolute w-full h-full object-cover">
        <div class="w-full h-full bg-gradient-to-r from-mainp to-transparent absolute flex items-center md:pl-20">
            <div class="w-4/5 text-white mx-auto md:w-[500px] md:mx-0">
                <div class="font-bold text-4xl mb-4">Empower your mind and shape your future</div>
                <app-enroll-button link="enroll" butText='Enroll Now' [hasArrow]="true" bgColor="white"
                    radius="curved"></app-enroll-button>
            </div>
        </div>
    </div>
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- how to get started wrapper -->
        <div class="w-full max-w-[768px] relative">
            <h3 class="text-2xl">How to get started?</h3>
            <div class="mt-2">Follow these simple steps to get started</div>
            <div class="w-full max-w-[768px] flex flex-col items-center sm:grid sm:grid-cols-2 sm:grid-rows-2 md:flex md:flex-row md:items-stretch gap-x-6 gap-y-6 mt-8 overflow-x-auto">
                <div class="w-full max-w-[350px] md:min-w-0 rounded-xl relative overflow-hidden px-4 py-6 bg-mainp flex flex-col gap-y-4 items-center">
                    <div class="w-12 h-12 rounded-full bg-white flex items-center justify-center"><span class="text-3xl text-mainp text-center font-semibold">1</span></div>
                    <div class="text-lg text-white">Register</div>
                    <div class="text-sm text-white">Complete the registration form (online or paper-based) or email or call with the course of interest</div>
                </div>
                <div class="w-full max-w-[350px] md:min-w-0 rounded-xl relative overflow-hidden px-4 py-6 bg-mainp flex flex-col gap-y-4 items-center">
                    <div class="w-12 h-12 rounded-full bg-white flex items-center justify-center"><span class="text-3xl text-mainp text-center font-semibold">2</span></div>
                    <div class="text-lg text-white">Make Payment</div>
                    <div class="text-sm text-white">Pay the fee at a bank or use the secured online interface on our website or any payment gateway</div>
                </div>
                <div class="w-full max-w-[350px] md:min-w-0 rounded-xl relative overflow-hidden px-4 py-6 bg-mainp flex flex-col gap-y-4 items-center">
                    <div class="w-12 h-12 rounded-full bg-white flex items-center justify-center"><span class="text-3xl text-mainp text-center font-semibold">3</span></div>
                    <div class="text-lg text-white">Start Learning</div>
                    <div class="text-sm text-white">Get acknowledgment from us, receive pre-study materials then learn</div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonials wrapper -->
    <!-- <div class="relative p-4 pt-10 flex items-center justify-center"> 
        <div class="w-full max-w-[768px] relative">
            <h3 class="text-2xl">What our customers are saying about us</h3>
            <app-testimonial-list type="testimonial"></app-testimonial-list>
        </div>
    </div> -->
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- learning options wrapper -->
        <div class="w-full max-w-[768px] relative">
            <h3 class="text-2xl">Learning options</h3>
            <div class="mt-2">Select from a wide range of learning options</div>
            <div class="w-full max-w-[768px] flex flex-col items-center sm:grid sm:grid-cols-2 sm:grid-rows-2 md:flex md:flex-row md:items-stretch gap-x-6 gap-y-6 mt-8 overflow-x-auto">
                <figure class="w-full max-w-[350px] md:min-w-0 rounded-xl relative overflow-hidden px-4 py-6 flex flex-col gap-y-4 items-center">
                    <img src="./assets/svgs/live_opt.svg" alt="">
                    <figcaption>Live Online Classes</figcaption>
                </figure>
                <figure class="w-full max-w-[350px] md:min-w-0 rounded-xl relative overflow-hidden px-4 py-6 flex flex-col gap-y-4 items-center">
                    <img src="./assets/svgs/flexi_opt.svg" alt="">
                    <figcaption>Flexi (Blended Training - Video Recordings of Live Online)</figcaption>
                </figure>
                <figure class="w-full max-w-[350px] md:min-w-0 rounded-xl relative overflow-hidden px-4 py-6 flex flex-col gap-y-4 items-center">
                    <img src="./assets/svgs/classroom_opt.svg" alt="">
                    <figcaption>Classroom Training</figcaption>
                </figure>
                <figure class="w-full max-w-[350px] md:min-w-0 rounded-xl relative overflow-hidden px-4 py-6 flex flex-col gap-y-4 items-center">
                    <img src="./assets/svgs/destination_opt.svg" alt="">
                    <figcaption>Destination Training</figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="h-[250px] relative mt-8"> <!-- banner wrapper -->
        <img src="./assets/images/typing_boy.png" alt="" class="absolute w-full h-full object-cover">
        <div class="w-full h-full bg-gradient-to-r from-mainp to-transparent absolute flex items-center md:pl-20">
            <div class="w-4/5 text-white mx-auto md:w-[500px] md:mx-0">
                <div class="font-bold text-4xl mb-4">Become a tutor and teach the world today</div>
                <app-enroll-button link="enroll" butText='Enroll Now' [hasArrow]="true" bgColor="white"
                    radius="curved"></app-enroll-button>
            </div>
        </div>
    </div>
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- resources wrapper -->
        <!-- <div
            class="hidden md:block absolute top-1/2 right-[10%] z-10 -translate-y-3 bg-white/70 border border-mainp xl:bg-transparent p-4">
            <img src="./assets/svgs/circ_arrow_right.svg" class="w-8 h-8" alt=""></div>
        <div
            class="hidden md:block absolute top-1/2 left-[10%] z-10 -translate-y-3 bg-white/70 border border-mainp xl:bg-transparent p-4">
            <img src="./assets/svgs/circ_arrow_left.svg" class="w-8 h-8" alt=""></div> -->
        <div class="w-full max-w-[900px] relative">
            <h3 class="text-2xl">Resources</h3>
            <div class="mt-2">Dive into our latest events, news & knowledge resources</div>
            <app-blog-list [count]="3"></app-blog-list>
        </div>
    </div>
</main>