<main class="portal md:ml-[320px] bg-[#F2F2F2] p-4" [ngClass]="{'grid': fetching_course || no_course, 'place-items-center': fetching_course || no_course}">
    <div class="loader" [class.hidden]="!fetching_course"></div>
    <div *ngIf="course">
        <div class="flex flex-wrap items-center justify-between gap-4">
            <h3 >{{course.code}}</h3>

            <div class="flex gap-x-4">
                <div (click)="editable = true" class="bg-mainp text-white border-transparent border py-2 px-6 text-sm rounded cursor-pointer">Edit Course</div>
                <div (click)="deleteCourse(course.code)" class="bg-mainp text-white border-transparent border py-2 px-6 text-sm rounded cursor-pointer">Delete Course</div>
            </div>
        </div>

        <app-report-bar *ngIf="edited" message="Course has been edited" type="success"></app-report-bar>
        <app-report-bar *ngIf="deleting" message="Course is being deleted" type="progress"></app-report-bar>
        <app-report-bar *ngIf="error_in_deleting" [message]="error_in_deleting" type="error"></app-report-bar>

        <form #form action="" class="mt-6 flex flex-col gap-y-6 max-w-[500px]" [formGroup]="courseGroup" (ngSubmit)="onSubmit(form)" enctype="multipart/form-data">
            <div *ngIf="formError" class="text-red-500">{{formError}}</div>
            <div class="flex flex-col gap-y-2">
                <label for="course-code" class="text-mainp required">Course Code</label>
                <input [readonly]="!editable" type="text" name="code" id="course-code" class="p-2 outline-none border border-slate-200 rounded" formControlName="code">
                <div class="text-red-500 text-sm" *ngIf="tried_to_submit && code.invalid">{{get_error_message(code)}}</div>
            </div>
            <div class="flex flex-col gap-y-2 w-full">
                <label for="course-title" class="text-mainp required">Course Title</label>
                <input [readonly]="!editable" type="text" name="title" id="course-title" class="p-2 outline-none border border-slate-200 rounded" formControlName="title">
                <div class="text-red-500 text-sm" *ngIf="tried_to_submit && title.invalid">{{get_error_message(title)}}</div>
            </div>
            <div class="flex flex-col gap-y-2 w-full">
                <label for="course-overview" class="text-mainp required">Course Overview</label>
                <textarea [readonly]="!editable" type="text" rows="6" name="overview" id="course-overview" class="p-2 outline-none border border-slate-200 rounded resize-none" formControlName="overview"></textarea>
                <div class="text-red-500 text-sm" *ngIf="tried_to_submit && overview.invalid">{{get_error_message(overview)}}</div>
            </div>
            <div class="flex flex-col gap-y-2 w-full relative" formArrayName="objectives">
                <img src="./assets/svgs/dash.svg" (click)="editable && remove('objective')" class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-4 mr-2" alt="">
            <img src="./assets/svgs/plus.svg" (click)="editable && add('objective')" class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
                <label for="course-objectives" class="text-mainp">Course Objectives</label>
                <div class="flex gap-x-2 items-center" *ngFor="let objective of objectives.controls; index as i">
                    <span class="min-w-6">{{i+1}}.</span><input [readonly]="!editable" type="text" name="objectives[]" id="course-objectives" class="p-2 outline-none border border-slate-200 rounded grow" formControlName="{{i}}">
                </div>
            </div>
            <div class="flex flex-col gap-y-2 w-full relative" formArrayName="attendees">
                <img src="./assets/svgs/dash.svg" (click)="editable && remove('attendee')" class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-4 mr-2" alt="">
                <img src="./assets/svgs/plus.svg" (click)="editable && add('attendee')" class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
                <label for="course-attendees" class="text-mainp">Course Attendees</label>
                <div class="flex gap-x-2 items-center" *ngFor="let objective of attendees.controls; index as i">
                    <span class="min-w-6">{{i+1}}.</span><input [readonly]="!editable" type="text" name="attendees[]" id="course-attendees" class="p-2 outline-none border border-slate-200 rounded grow" formControlName="{{i}}">
                </div>
            </div>
            <div class="flex flex-col gap-y-2 w-full relative" formArrayName="prerequisites">
                <img src="./assets/svgs/dash.svg" (click)="editable && remove('prerequisite')" class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-4 mr-2" alt="">
                <img src="./assets/svgs/plus.svg" (click)="editable && add('prerequisite')" class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
                <label for="course-prerequisites" class="text-mainp">Course Prerequisites</label>
                <div class="flex gap-x-2 items-center" *ngFor="let objective of prerequisites.controls; index as i">
                    <span class="min-w-6">{{i+1}}.</span><input [readonly]="!editable" type="text" name="prerequisites[]" id="course-prerequisites" class="p-2 outline-none border border-slate-200 rounded grow" formControlName="{{i}}">
                </div>
            </div>
            <div class="flex flex-col gap-y-2 w-full relative" formArrayName="modules">
                <img src="./assets/svgs/dash.svg" (click)="editable && remove('module')" class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-4 mr-2" alt="">
                <img src="./assets/svgs/plus.svg" (click)="editable && add('module')" class="pink-icon w-4 h-4 cursor-pointer absolute top-0 right-0" alt="">
                <label for="module-objective" class="text-mainp">Course Modules</label>
                <div class="flex gap-x-2 items-center" *ngFor="let objective of modules.controls; index as i">
                    <span class="min-w-6">{{i+1}}.</span>
                    <div class="p-4 flex flex-col gap-y-4 bg-white border border-slate-200 rounded min-w-0 grow" formGroupName="{{i}}">
                        <input [readonly]="!editable" placeholder="Learning Objective" type="text" name="modules[{{i}}][objective]" id="module-objective" class="p-2 outline-none border border-slate-200 rounded" formControlName="objective">
                        <textarea [readonly]="!editable" type="text" rows="6" name="modules[{{i}}][overview]" id="module-overview" class="p-2 outline-none border border-slate-200 rounded resize-none" formControlName="overview" placeholder="Learning Overview"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="flex flex-col gap-y-2">
                <label for="course-image" (click)="editable || false" class="text-mainp optional">Course Image</label>
                <input [readonly]="!editable" #imagePicker (change)="handleImageSelect($event, imagePreview)" type="file" name="image" accept="image/*" id="course-image" class="hidden" formControlName="image">
                <div (click)="editable && imagePicker.click()" class="cursor-pointer w-[200px] h-[200px] border border-slate-200 rounded bg-white">
                    <div class="flex items-center justify-center h-full" [class.hidden]="pictureSelected">
                        <div class="">
                            <img src="./assets/svgs/upload.svg" class="gray-icon m-auto" alt="">
                            <p class="text-gray-400 m-auto mt-2">Click to upload image</p>
                            <p class="text-gray-400 m-auto mt-2 text-center">(.png, .jpg)</p>
                        </div>
                    </div>
                    <img id="imagePreview" class="w-full h-full object-cover" [class.hidden]="!pictureSelected" src="" alt="" #imagePreview>
                </div>
            </div>
            <div class="mt-4 flex items-center gap-x-8 w-full max-w-[300px]">
                <button [disabled]="!editable || edited || (tried_to_submit && form_invalid) || submitted" type="submit" [ngClass]="{'bg-mainp': !edited, 'bg-white': edited, 'text-white': !edited, 'text-mainp': edited, 'bg-mainp/70': tried_to_submit && form_invalid,}" class="group relative cursor-pointer py-2 px-6 border border-transparent rounded flex gap-x-4 items-center justify-center">
                    <app-tooltip  message="Please rectify all errors" class="hidden" [ngClass]="{'group-hover:block': tried_to_submit && form_invalid}"></app-tooltip>
                    <div class="submit-loader" [class.block]="submitted" [class.hidden]="!submitted"></div>
                    <div>{{edited ? 'Edited' : 'Edit'}}</div>
                </button>
                <app-redirect-button theme="white" text="{{!edited ? 'Cancel' : 'Back'}}" location="/admin/courses"></app-redirect-button>
            </div>
        </form>
    </div>
    <app-empty-content [message]="no_course" *ngIf="no_course"></app-empty-content>
</main>

