<main class="login bg-[#FFF] min-h-dvh flex items-center justify-center">
    <div class="w-full lg:w-1/2 m-auto lg:mr-[50%] grid place-items-center">
        <form #form (ngSubmit)="!submitted && onSubmit(form)" [formGroup]="adminGroup" class="p-4 w-full max-w-[500px]">
            <img src="./assets/logo.png" alt="" class="h-[70px] w-[166px]">
            <h2 class="mt-8">Welcome Back</h2>
            <div class="flex flex-col gap-y-4 mt-8 bg-white"> <!-- fields -->
                <div *ngIf="invalid_credentials" class="text-red-500">Invalid credentials</div>
                <div *ngIf="expired_session" class="text-red-500">Your session has expired, please revalidate</div>
                <div class="text-sm flex flex-col gap-y-2">
                    <label for="username">Username</label>
                    <input formControlName="username" type="text" id="username" name="username" placeholder="Enter your username address" class="p-4 w-full rounded-md border border-gray-400 outline-none placeholder-black">
                    <div *ngIf="errors['username']" class="text-red-500">{{errors['username'][0]}}</div>
                </div>
                <div class="text-sm flex flex-col gap-y-2">
                    <label for="password">Password</label>
                    <input formControlName="password" type="password" id="password" name="password" placeholder="Enter password" class="p-4 w-full rounded-md border border-gray-400 outline-none placeholder-black">
                    <div *ngIf="errors['password']" class="text-red-500">{{errors['password'][0]}}</div>
                </div>
            </div>
            <div class="text-xs mt-4">
                <a href="" class="text-mainp">Forgot password?</a>
            </div>
            <div class="mt-6">
                <button [disabled]="adminGroup.invalid || (backWithErrors && (errrorsRectified < errorneousFields.length))" [class.cursor-not-allowed]="adminGroup.invalid || (backWithErrors && (errrorsRectified < errorneousFields.length))" class="p-4 w-full flex gap-x-4 items-center justify-center bg-mainp text-white rounded-md hover:bg-mainp/70 cursor-pointer border border-transparent outline-none"><div class="submit-loader" [class.block]="submitted" [class.hidden]="!submitted"></div><div>{{logged_in ? 'Redirecting...' : (backWithErrors && (errrorsRectified == errorneousFields.length)) ? 'Login' : backWithErrors ? 'Rectify all errors' : adminGroup.invalid ? 'Fill all fields' : 'Login'}}</div></button>
            </div>
        </form>
    </div>
    <div class="hidden lg:block fixed top-0 right-0 bottom-0 w-1/2 overflow-clip">
        <div class="w-[200%] h-full flex">
            <div class="w-1/2 h-full first-state" id="left-slide">
                <div class="absolute w-full h-full bg-gradient-to-t from-mainp/90 to-transparent">
                    <div class="text-white absolute bottom-24 left-14">
                        <div class="font-bold text-4xl" id="first-paragraph">Unlock your full potential</div>
                        <div class="mt-4" id="second-paragraph">Discover the joy of learning and ignite your educational journey</div>
                    </div>
                </div>
                <picture>
                    <source media="(min-width:1024px)" srcset="./assets/images/typing_girl.png">
                    <img src="" class="w-full h-full object-cover" alt="">
                </picture>
            </div>
            <div class="w-1/2 h-full custom-hidden" id="right-slide">
                <div class="absolute w-full h-full bg-gradient-to-t from-mainp/90 to-transparent">
                    <div class="text-white absolute bottom-24 left-14">
                        <div class="font-bold text-4xl" id="first-paragraph">Unlock your full potential</div>
                        <div class="mt-4" id="second-paragraph">Discover the joy of learning and ignite your educational journey</div>
                    </div>
                </div>
                <picture>
                    <source media="(min-width:1024px)" srcset="./assets/images/waving_girl.png">
                    <img src="" class="w-full h-full object-cover" alt="">
                </picture>
            </div>
        </div>
    </div>
</main>