<main class="landing">
    <div class="h-[250px] relative"> <!-- banner wrapper -->
        <img src="./assets/images/phoning_girl.png" alt="" class="absolute w-full h-full object-cover">
        <div class="w-full h-full bg-mainp/50 absolute flex items-center justify-center">
            <div class="w-4/5 text-white mx-auto md:w-[500px] md:mx-0">
                <h2 class="mb-4 text-center">COURSE CATALOGUE</h2>
                <div class="text text-center">Discover our wide range of courses</div>
            </div>
        </div>
    </div>
    <!-- searchbar wrapper -->
    <!-- <div class="h-[180px] flex justify-center items-center"> 
        <div class="w-full max-w-[768px] h-3/5 bg-[#E1E1E1] relative">
            <input type="text" class="outline-0 w-[90%] p-4 pr-14 rounded-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-sm" placeholder="What do you want to learn?" />
            <button class="border-0 rounded-full bg-mainp p-4 absolute top-1/2 -translate-y-1/2 right-[5%] text-white flex gap-x-2 items-center"><span class="hidden sm:block">Search</span><img class="white-icon w-4 h-4" src="./assets/svgs/search_icon.svg" alt=""></button>
        </div>
    </div> -->
    <div class="relative p-4 flex items-center justify-center"> <!-- our training courses section -->
        <div class="w-full max-w-[900px] relative">
            <ul class="flex flex-col gap-4 sm:flex-row">
                <li><a [ngClass]="{'border-b-2': course_type == 'certificate-courses', 'border-mainp': course_type == 'certificate-courses'}" routerLink="/course-catalogue/certificate-courses">Certificate Courses</a></li>
                <li><a [ngClass]="{'border-b-2': course_type == 'certification-courses', 'border-mainp': course_type == 'certification-courses'}" routerLink="/course-catalogue/certification-courses">Certification Courses</a></li>
                <li><a [ngClass]="{'border-b-2': course_type == 'offshore-courses', 'border-mainp': course_type == 'offshore-courses'}" routerLink="/course-catalogue/offshore-courses">Offshore Courses</a></li>
            </ul>
            <h3 class="text-xl mt-4">{{section_header}}</h3>
            <router-outlet></router-outlet>
        </div>
    </div>
</main>