<main class="portal md:ml-[320px] bg-[#F2F2F2] p-4" [ngClass]="{'grid': fetching || error, 'place-items-center': fetching || error}">
    <div class="loader" [class.hidden]="!fetching"></div>
    <div *ngIf="!fetching && quiz" class="relative max-w-[750px] m-auto">
        <app-password-confirmation-modal (canceled)="cancelConfirmation()" (confirmed)="proceedWithAction()" *ngIf="confirm_action"></app-password-confirmation-modal>
        <div class="flex flex-wrap justify-between gap-4 items-center">
            <h3>{{quiz.title}}</h3>

            <div class="relative w-40 text-sm shadow-2xl">
                <div (click)="actions_folded = !actions_folded" class="bg-mainp cursor-pointer py-2 px-4 text-white flex items-center justify-between">
                    Actions
                    <span class="inline-block w-2 h-2 border-2 border-t-transparent border-r-transparent duration-150 ease-linear" [ngClass]="{'-rotate-45': actions_folded, 'rotate-[135deg]': !actions_folded}"></span>
                </div>
                <div class="absolute top-full bg-white shadow-2xl w-40 right-0 overflow-hidden duration-150 ease-linear" [ngClass]="{'max-h-0': actions_folded, 'max-h-[300px]': !actions_folded}">
                    <ul class="w-full border border-mainp">
                        <li><a [routerLink]="['/quiz/admin/update-assignments']" [queryParams]="{'t': quiz.title}" class="block py-2 px-4 cursor-pointer hover:bg-slate-200 border-b border-slate-400">Assignments</a></li>

                        <li><a [routerLink]="['/quiz/admin/questions']" [queryParams]="{'t': quiz.title}" class="block py-2 px-4 cursor-pointer hover:bg-slate-200 border-b border-slate-400">Questions</a></li>

                        <li><a [routerLink]="['/quiz/admin/notify']" [queryParams]="{'t': quiz.title}" class="block py-2 px-4 cursor-pointer hover:bg-slate-200 border-b border-slate-400">Notify Students</a></li>

                        <li><a [routerLink]="['/quiz/admin/edit-quiz']" [queryParams]="{'t': quiz.title}" class="block py-2 px-4 cursor-pointer hover:bg-slate-200 border-b border-slate-400">Edit</a></li>

                        <li class="py-2 px-4 cursor-pointer hover:bg-slate-200 border-b border-slate-400" (click)="showConfirmationModal('delete', [quiz.title])">Delete</li>    
                    </ul>
                </div>
            </div>
        </div>

        <app-report-bar *ngIf="action_in_progress" [message]="action_in_progress" type="progress"></app-report-bar>
        <app-report-bar *ngIf="action_done" [message]="action_done" type="success"></app-report-bar>
        <app-report-bar *ngIf="error_in_action" [message]="error_in_action" type="error"></app-report-bar>
        
        <div class="bg-white mt-6 p-4">
            <div class="border-b border-mainp flex flex-col lg:flex-row gap-2 justify-between mb-4">
                <span class="text-sm text-gray-400 lg:text-base min-w-max">Quiz title:</span><span>{{quiz.title}}</span>
            </div>
            <div class="border-b border-mainp space-y-2 mb-4">
                <span class="text-sm text-gray-400 lg:text-base min-w-max">Quiz description:</span><div [innerHTML]="quiz.description"></div>
            </div>
            <div class="border-b border-mainp flex flex-col lg:flex-row gap-2 justify-between mb-4">
                <span class="text-sm text-gray-400 lg:text-base min-w-max">Number of questions:</span><span>{{quiz.questions_count}}</span>
            </div>
            <div class="border-b border-mainp flex flex-col lg:flex-row gap-2 justify-between mb-4">
                <span class="text-sm text-gray-400 lg:text-base min-w-max">Number of assignments:</span><span>{{quiz.assignments_count}}</span>
            </div>
            <div class="border-b border-mainp flex flex-col lg:flex-row gap-2 justify-between mb-4">
                <span class="text-sm text-gray-400 lg:text-base min-w-max">Total points:</span><span>{{quiz.points_sum ?? 0}}</span>
            </div>
            <div class="border-b border-mainp flex flex-col lg:flex-row gap-2 justify-between mb-4">
                <span class="text-sm text-gray-400 lg:text-base min-w-max">Date created:</span><span>{{date_created}}</span>
            </div>
        </div>
        
    </div>
    <app-empty-content message="{{error}}" *ngIf="!fetching && error"></app-empty-content>
</main>
