<main class="landing">
    <div class="h-[250px] relative"> <!-- banner wrapper -->
        <img src="./assets/images/phoning_girl.png" alt="" class="absolute w-full h-full object-cover">
        <div class="w-full h-full bg-mainp/50 absolute flex items-center justify-center">
            <div class="w-4/5 text-white mx-auto md:w-[500px] md:mx-0">
                <h2 class="mb-4 text-center">ABOUT US</h2>
                <div class="text-center">A Global Leader in IT Training</div>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center m-4"> <!-- mitiget learning academy -->
        <div class="max-w-[900px]">
            <h3 class="text-2xl font-semibold">Mitiget Learning Academy</h3>
            <p class="mt-4">
                Mitiget Learning Academy (MLA) is an arm of Mitiget that provides cutting edge learning interventions
                and capacity
                building endeavours for small, medium and large scale enterprises both in public and private sectors in
                Nigeria and
                beyond. We provide targeted contents that impact learner’s culture in order to stimulate performance in
                your
                organization. Our exceptional approach to learning is innovative, convenient and tailored to help
                organizations achieve
                strategic goals. We deliver learning using multi-channels alongside support mechanisms involving our
                team of experienced
                trainers and counselors.
            </p>
        </div>
    </div>
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- what we do section -->
        <div class="w-full max-w-[900px] relative">
            <h3 class="text-2xl font-semibold">What We Do</h3>
            <div class="w-full max-w-[900px] flex flex-col items-center sm:grid sm:grid-cols-2 sm:grid-rows-2 md:flex md:flex-row md:flex-wrap md:justify-center md:items-stretch gap-x-6 gap-y-6 mt-8 overflow-x-auto">
                <div class="w-full max-w-[350px] md:min-w-[250px] md:max-w-[280px] rounded-xl relative overflow-hidden px-4 py-6 bg-mainp flex flex-col gap-y-4 items-center">
                    <div class="w-16 h-16 rounded-full bg-white flex items-center justify-center"><img src="./assets/svgs/instructor_led.svg" class="h-[40px] w-[40px] pink-icon" /></div>
                    <div class="text-lg text-white">Instructor-led Training</div>
                    <div class="text-sm text-white">Hand-on, impactful and fun training by a certified instructor.</div>
                </div>
                <div class="w-full max-w-[350px] md:min-w-[250px] md:max-w-[280px] rounded-xl relative overflow-hidden px-4 py-6 bg-mainp flex flex-col gap-y-4 items-center">
                    <div class="w-16 h-16 rounded-full bg-white flex items-center justify-center"><img src="./assets/svgs/e-learning.svg" class="h-[40px] w-[40px] pink-icon" /></div>
                    <div class="text-lg text-white">E-Learning Training</div>
                    <div class="text-sm text-white">Anytime, anywhere training for flexibility and impact.</div>
                </div>
                <div class="w-full max-w-[350px] md:min-w-[250px] md:max-w-[280px] rounded-xl relative overflow-hidden px-4 py-6 bg-mainp flex flex-col gap-y-4 items-center">
                    <div class="w-16 h-16 rounded-full bg-white flex items-center justify-center"><img src="./assets/svgs/in-house.svg" class="h-[40px] w-[40px] pink-icon" /></div>
                    <div class="text-lg text-white">In-House Learning Program</div>
                    <div class="text-sm text-white">Anytime, anywhere training for flexibility and impact.</div>
                </div>
                <div class="w-full max-w-[350px] md:min-w-[250px] md:max-w-[280px] rounded-xl relative overflow-hidden px-4 py-6 bg-mainp flex flex-col gap-y-4 items-center">
                    <div class="w-16 h-16 rounded-full bg-white flex items-center justify-center"><img src="./assets/svgs/knowledge_management.svg" class="h-[40px] w-[40px] pink-icon" /></div>
                    <div class="text-lg text-white">Knowledge Management</div>
                    <div class="text-sm text-white">Technology implementation and change training.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative p-4 pt-10 flex items-center justify-center"> <!-- 3 pillars of growth section -->
        <div class="w-full max-w-[900px] relative">
            <h3 class="text-2xl font-semibold">Our 3-Pillars of Growth</h3>
            <div class="w-full max-w-[900px] flex flex-col items-center sm:grid sm:grid-cols-2 sm:grid-rows-2 md:flex md:flex-row md:flex-wrap md:justify-center md:items-stretch gap-x-6 gap-y-6 mt-8 overflow-x-auto">
                <div class="w-full max-w-[350px] md:min-w-[250px] md:max-w-[280px] rounded-xl relative overflow-hidden px-4 py-6 bg-mainp flex flex-col gap-y-4 items-center">
                    <div class="w-16 h-16 border-2 border-white rounded-md rotate-45 flex items-center justify-center"><img src="./assets/svgs/vision.svg" class="-rotate-45 h-[40px] w-[40px] white-icon" /></div>
                    <div class="text-lg text-white">Our Vision</div>
                    <div class="text-sm text-white">To be the world's leading provider of technical skills.</div>
                </div>
                <div class="w-full max-w-[350px] md:min-w-[250px] md:max-w-[280px] rounded-xl relative overflow-hidden px-4 py-6 bg-mainp flex flex-col gap-y-4 items-center">
                    <div class="w-16 h-16 border-2 border-white rounded-md rotate-45 flex items-center justify-center"><img src="./assets/svgs/mission.svg" class="-rotate-45 h-[40px] w-[40px] white-icon" /></div>
                    <div class="text-lg text-white">Our Mission</div>
                    <div class="text-sm text-white">Helping you learn in an innovative way.</div>
                </div>
                <div class="w-full max-w-[350px] md:min-w-[250px] md:max-w-[280px] rounded-xl relative overflow-hidden px-4 py-6 bg-mainp flex flex-col gap-y-4 items-center">
                    <div class="w-16 h-16 border-2 border-white rounded-md rotate-45 flex items-center justify-center"><img src="./assets/svgs/flag.svg" class="-rotate-45 h-[40px] w-[40px] white-icon" /></div>
                    <div class="text-lg text-white">Our Core Values</div>
                    <div class="text-sm text-white">i-Pex.<br/><b>I</b>nnovations, <b>P</b>rofessionalism, <b>Ex</b>cellence.</div>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- <div class="flex justify-center items-center">
    <div class="max-w-[900px] mt-4">
        <h3 class="text-2xl">Training Locations / Venue</h3>
        <p class="mt-4">
            Training Courses take place at our Lagos training center at 73 Allen Avenue, Ikeja, Lagos Nigeria.
        </p>
        <p class="mt-4">
            Customised implants/repetition of training courses can be accommodated based on requests and at your choice
            location local/offshore.
        </p>
    </div>
</div>
<div class="flex justify-center items-center">
    <div class="max-w-[900px] mt-4">
        <h3 class="text-2xl">Booking and Course Fee Payment</h3>
        <p class="mt-4">
            Training Courses take place at our Lagos training center at 73 Allen Avenue, Ikeja, Lagos Nigeria.
        </p>
        <p class="mt-4">
            Customised implants/repetition of training courses can be accommodated based on requests and at your choice
            location
            local/offshore.
        </p>
    </div>
</div> -->