<div class="w-full flex justify-center items-center" [ngClass]="{'h-[300px]': !course_items}">
    <div class="list-loader" *ngIf="!course_items"></div>
    <div *ngIf="course_items" [class.flex-col]=" count == 'all'"
        class="max-w-[900px] gap-4 flex sm:grid sm:grid-cols-[repeat(2,_minmax(0,_1fr))] md:grid-cols-[repeat(2,_300px)] mt-8 overflow-x-auto lg:grid-cols-[repeat(3,_1fr)]">
        <app-certificate-course-item *ngFor="let course_item of course_items" [course]="course_item"></app-certificate-course-item>
    </div>
</div>
<app-do-more-link *ngIf="count != 'all'" text="View Catalogue" location="/course-catalogue"></app-do-more-link>