<main class="portal md:ml-[320px] bg-[#F2F2F2] p-4" [ngClass]="{'grid': fetching || error, 'place-items-center': fetching || error}">
    <div class="loader" [class.hidden]="!fetching"></div>
    <div *ngIf="!fetching && questions" class="relative max-w-[750px] m-auto">
        <app-password-confirmation-modal (canceled)="cancelConfirmation()" (confirmed)="proceedWithAction()" *ngIf="confirm_action"></app-password-confirmation-modal>
        <div class="flex flex-wrap justify-between gap-4 items-center">
            <h3>{{quiz_title}}</h3>

            <div class="relative w-40 text-sm shadow-2xl">
                <div (click)="actions_folded = !actions_folded" class="bg-mainp cursor-pointer py-2 px-4 text-white flex items-center justify-between">
                    Actions
                    <span class="inline-block w-2 h-2 border-2 border-t-transparent border-r-transparent duration-150 ease-linear" [ngClass]="{'-rotate-45': actions_folded, 'rotate-[135deg]': !actions_folded}"></span>
                </div>
                <div class="absolute top-full bg-white z-10 shadow-2xl w-40 right-0 overflow-hidden duration-150 ease-linear" [ngClass]="{'max-h-0': actions_folded, 'max-h-[300px]': !actions_folded}">
                    <ul class="w-full border border-mainp">
                        <li *ngIf="questions.length > 0" class="py-2 px-4 cursor-pointer hover:bg-slate-200 border-b border-slate-400" (click)="collapse_all = !collapse_all; actions_folded = true">{{collapse_all ? 'Fold all' : 'Collapse all'}}</li>

                        <li><a [routerLink]="['/quiz/admin/add-question']" [queryParams]="{'t': quiz_title}" class="block py-2 px-4 cursor-pointer hover:bg-slate-200 border-b border-slate-400">Add question</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <app-report-bar *ngIf="action_in_progress" [message]="action_in_progress" type="progress"></app-report-bar>
        <app-report-bar *ngIf="action_done" [message]="action_done" type="success"></app-report-bar>
        <app-report-bar *ngIf="error_in_action" [message]="error_in_action" type="error"></app-report-bar>
        
        <div class="mt-6 space-y-4">
            @for (question of questions; track question.id) {
                <div #container class="bg-white shadow rounded-md p-4 flex flex-col gap-y-2">
                    <div class="flex flex-wrap gap-4 justify-between items-center">
                        <div class="text-sm">Question {{$index+1}}</div>
                        <div class="h-8 flex gap-2 items-center">
                            <div class="text-sm shadow-2xl border border-zinc-400/50 self-start min-h-8 z-[1] rounded-md overflow-auto">
                                <div (click)="expandActionsBox(actions_box, caret)" class="justify-self-stretch bg-mainp min-h-8 px-4 cursor-pointer text-white flex items-center justify-between gap-4 rounded-t-md">
                                    <span>Actions</span>
                                    <span class="inline-block w-2 h-2 border-2 border-t-transparent border-r-transparent -translate-y-[2px] duration-150 ease-linear -rotate-45" #caret></span>
                                </div>
                                <div class="bg-white min-w-max overflow-hidden max-h-0 transition-all ease-linear rounded-b-md" #actions_box>
                                    <ul class="w-full">
                                        <li (click)="showConfirmationModal('delete', [$index])" class="cursor-pointer hover:bg-zinc-300/50 m-1 p-2 rounded-md">Delete</li>
                
                                        <li><a [routerLink]="['/quiz/admin/edit-question']" [queryParams]="{'t': quiz_title, 'q': encryptId(question.id)}" class="block cursor-pointer hover:bg-zinc-300/50 m-1 p-2 rounded-md">Edit</a></li>
            
                                    </ul>
                                </div>
                            </div>
    
                            <span class="text-sm">{{question.points}} pts.</span>
    
                            <div class="px-4 mr-2 h-full rounded-md transition-all duration-200 cursor-pointer hover:bg-zinc-200/50 hover:shadow-md grid place-items-center" (click)="options_box.classList.toggle('max-h-0'); options_box.classList.toggle('max-h-[200px]')"> <!-- expand options -->
                                <span class="inline-block border-[3px] border-mainp h-3 w-3 rotate-45 border-t-transparent border-l-transparent -translate-y-[2px]"></span>
                            </div>
                        </div>
                    </div>
                    <div [innerHTML]="question.text" class=""></div>
                    <div class="overflow-hidden transition-[max-height]" [ngClass]="{'max-h-0': !collapse_all, 'max-h-[200px]': collapse_all}" #options_box>
                        <div>
                            <ul class="bg-zinc-200/50 rounded-md p-2 space-y-2 shadow-inner">
                                <li *ngFor="let option of question.options" class="flex gap-x-2 items-center">
                                    <span><img src="./assets/svgs/{{!option.is_correct ? 'wrong_option' : 'correct_option'}}.svg" alt="" class="w-4 h-4"></span>
                                    <div>{{option.text}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            } @empty {
                <div class="p-4 bg-gray-300 rounded">
                    No questions for this quiz.
                </div>
            }
        </div>
        
    </div>
    <app-empty-content message="{{error}}" *ngIf="!fetching && error"></app-empty-content>
</main>
